@charset "UTF-8";


/* NORMALIZE CSS NO CHANGES ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,embed,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,nav,section,audio,canvas,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom: 1;}
html{font-size: 100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{line-height:1.231;}
body,button,input,select,textarea{color:#222;font-family: sans-serif;}
::-moz-selection {background:#a7cfeb;color:#fff;text-shadow:none;}
::selection {background:#a7cfeb;color:#fff;text-shadow:none;}
a, a:link, a:visited{color:#00e;}
a:hover, a:active{color:#06e;}
nav ul,nav ol, ul, ol{list-style:none;list-style-image:none;}
ul, ol{margin:0;padding:0;}
hr{display:block;height:1px;border:0;margin:0;padding:0;}
pre {white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:middle;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
table button,table input{*overflow:auto;}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,input:-moz-ui-invalid,textarea:invalid{background-color:#f0dddd;border:1px solid #cb202a;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
/* For image replacement */
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br{display:none;}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden{display:none!important;visibility:hidden;}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;overflow:visible;position:static;width:auto;margin:0;}
/* Hide visually and from screenreaders, but maintain layout */
.invisible{visibility:hidden;}
/* Standard Clearfix */
.clearfix:before{content:"";display:table;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:inline-block;zoom:1;}
/* Block Clearfix */
.clearfix_block:before{content: "";display:table;}
.clearfix_block:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix_block{display:block;zoom:1;}
.amp{font-family:Cambria, 'Plantagenet Cherokee', Baskerville, 'Goudy Old Style', Herculanum, 'Book Antiqua', serif;font-size:110%;}
.left{float:left;}
.right{float:right;}
.clear_left{clear:left;}
.clear_right{clear:right;}
.clear_both{clear:both;}
.text_left{text-align:left;}
.text_right{text-align:right;}
.text_center{text-align:center;}
.underline{text-decoration:underline;}
.italic,i,em,dfn{font-style:italic;}
.uppercase{text-transform:uppercase;}
.bold,b,strong{font-weight:bold;}
.bold{font-weight:600;}
.bolder{font-weight:700;}
.boldest{font-weight:800;}
.red{color:#db0000;}
.white{color:#FFF;}
.black{color:#000;}
.mobile_pagebreak{display:none;}

/* GLOBAL & HEADER STYLES CSS ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.desktop_only{display:inline;}
.tablet_only{display:none;}
.mobile_only{display:none;}

html{background:#f2f5f7 url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/site_bg.jpg) repeat scroll center top;height:100%;overflow-y:scroll;width:100%;}
body{
    color:#000;
    font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-size:13px;
    font-weight:400;
    /* [disabled]height:100%; */
    margin:0;
    padding:0;
}
#container{background-color:#fff;-webkit-box-shadow:0 0 25px rgba(0,0,0,.5);-moz-box-shadow:0 0 25px rgba(0,0,0,.5);box-shadow:0 0 25px rgba(0,0,0,.5);height:auto;min-height:100%;margin:0 auto;padding:0 25px;position:relative;width:980px;}
div.product_highlight{display:none}

#header{float:left;height:80px;position:relative;width:100%;}
.header_logo{float:left;margin:0 10px;position:relative;top:0;}
.header_headline{border-left:1px dotted #999;color:#425d7c;float:left;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:28px;font-weight:700;height:38px;margin-top:20px;padding-top:3px;padding-left:10px;position:relative;top:0;}
.header_btn{float:right;margin-top:25px;margin-right:0;}
.header_security_img{float:right;margin-top:24px;margin-right:15px;}
.header_order_placed{border-left:1px dotted #999;float:left;margin-top:12px;overflow:visible;position:relative;}
.header_order_placed_container{border:1px solid #434750;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;float:left;margin-top:1px;margin-left:10px;position:relative;width:auto;}
.header_order_placed_container_headline{color:#fff;display:inline-block;font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:24px;font-weight:600;letter-spacing:1px;padding:3px 12px 0 19px;text-align:left;text-shadow:1px 1px .5px #000;text-transform:uppercase;width:auto;word-spacing:1px;}
.header_order_placed_container_text{color:#fff;display:block;font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:400;letter-spacing:0;padding:0 12px 5px 19px;text-align:center;text-transform:uppercase;width:auto;word-spacing:0;}

.breadcrumbs{border:1px solid #434750;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;clear:left;float:left;height:35px;position:relative;width:100%;}
.order_progress{height:100%;list-style:none;margin:0;padding:0;text-align:left;}
.order_progress li{border-right:1px solid #666;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;display:inline;float:left;height:100%;padding-left:15px;padding-right:15px;}
.breadcrumbs_headline{background-color:rgba(0,0,0,.22);-webkit-border-radius:6px 0 0 6px;-moz-border-radius-topleft:6px;-moz-border-radius-bottomleft:6px;border-radius:6px 0 0 6px;color:#fff;display:inline-block;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:20px;font-weight:700;height:100%;letter-spacing:1px;padding-top:2px;text-shadow:2px 2px 1px #000;}
.breadcrumbs_headline_arrows{vertical-align:2px;}
.progress_text{color:#ababab;font-size:14px;font-weight:400;padding-top:8px;}
.current_location{background-color:rgba(255,255,255,.15);color:#fff;font-weight:700;text-shadow:2px 2px 1px #000;}
.breadcrumbs_checkmark{font-family:Verdana, Arial, Helvetica, sans-serif;}

.order_error{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;clear:left;float:left;height:auto;position:relative;width:100%;}
.order_progress{list-style:none;margin:0;padding:0;width:100%;}
.error_message{color:#db0000;display:block;float:none;font-size:22px;font-weight:600;text-align:center;text-transform:uppercase;}
.error_message_text{color:#000;display:block;float:none;font-size:14px;font-weight:400;padding-bottom:18px;text-align:center;}

.order_product_options_container_header{border:1px solid #434750;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;height:39px;margin-left:39px;padding:0;text-align:center;width:902px;}
.product_options_header_headline{color:#fff;cursor:default;display:inline-block;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:20px;font-weight:300;letter-spacing:.5px;margin-top:5px;text-shadow:1px 1px .5px #000;text-transform:uppercase;}


/* MAIN CONTENT STYLES CSS ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#main{float:left;height:auto;margin:0;margin-top:15px;padding:0;position:relative;width:100%}
.main_container{float:left;margin:0;padding:0;position:relative;width:100%}
.main_container_sidebar{float:left;margin:0;padding:0;position:relative;width:630px;}

#sidebar{float:left;margin-left:25px;padding:0;position:relative;width:340px}
.sidebar_header_headline{float:left;margin-left:15px;}
.sidebar_header_icon{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;height:24px;margin-top:1px;}
#sidebar_header_summary{background-position:-148px -136px;width:21px;}
#sidebar_header_offer{background-position:-125px -136px;width:17px;}
#sidebar_header_tracking{background-position:-213px -268px;width:32px;}
.sidebar_header_heading{color:#fff;font-size:14px;font-weight:700;letter-spacing:.5px;position:relative;top:4px;text-shadow:2px 2px 1px #000}


/* CSS FOOTER STYLES ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#footer{border:1px solid #434750;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;clear:both;float:left;height:55px;margin-top:15px;margin-bottom:25px;padding-left:0;position:relative;width:100%;}
.footer_links_list{list-style:none;}
.footer_link{cursor:pointer;float:left;margin-left:15px;margin-top:0;}
.footer_link_icon{display:inline-block;margin-top:0;}
.footer_link_icon{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;height:53px;}
#footer_terms{}
#footer_privacy{background-position:-5px -166px;width:24px;}
#footer_security{background-position:-34px -166px;width:23px;}
#footer_purchasing{background-position:-75px -166px;width:27px;}
#footer_return{background-position:-109px -166px;width:34px;}
#footer_contact{background-position:-148px -166px;width:32px;}
.footer_text_link{color:#FFF;display:inline-block;font-size:12px;font-weight:700;letter-spacing:.5px;margin-left:0;margin-top:17px;padding:0 2px 2px 0;text-decoration:none;text-shadow:2px 2px 1px #000;}
.footer_text_link:hover{border-bottom:1px solid #FFF;}
.telebrands_footer{float:right;margin-top:6px;margin-right:10px;}
.telebrands_footer_logo{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-148px -233px;background-repeat:no-repeat;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;display:block;float:right;height:30px;width:97px;}
.telebrands_footer_copyright{clear:right;color:#FFF;float:right;font-size:10px;padding-top:2px;text-align:right;}


/* ORDER FORM STYLES CSS ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.form_section{width:100%;}

.form_section_header{border:1px solid #434750;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;height:27px;width:100%;}
.section_header_headline{cursor:default;margin-left:15px;padding-top:2px;}
.section_header_checkmark{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-189px -108px;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;height:17px;margin-top:1px;margin-right:8px;width:19px;}
.hide_mark{display:none;}
.show_mark{display:inline;}
.section_header_icon{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;height:22px;margin-top:1px;margin-right:3px;width:35px;}
#section_header_contact_icon{background-position:-5px -136px;}
#section_header_billing_icon{background-position:-45px -136px;}
#section_header_payment_icon{background-position:-85px -136px;}
.section_header_heading{color:#f6f6f6;float:left;font-size:14px;font-weight:700;letter-spacing:.5px;margin-top:1px;text-shadow:2px 2px 1px #000;}
.edit_info_link {cursor:pointer;display:none;float:right;font-size:12px;margin-top:2px;margin-right:4px;}

.form_section_content{background-color:#f2f5f7;border:1px solid #bdc3c7;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin:15px 5px;position:relative;width:620px;}
.form_section_content fieldset{position:relative;width:100%;}
#contact_info{padding-bottom:21px;}
#billing_info{padding-bottom:21px;}
#payment_info{padding-bottom:10px;}
.form_section_content_heading{float:left;margin-left:15px;margin-top:15px;font-size:20px;font-weight:600;color:#434750;letter-spacing:.5px;}
.form_section_content_required{color:#e51515;font-size:10px;text-decoration:none;font-weight:700;letter-spacing:.5px;position:absolute;right:9px;top:8px;}
.input_row{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;clear:left;float:left;margin-top:10px;padding:0 25px;position:relative;width:100%}
.form_section_content .input_row:first-of-type{margin-top:21px;}
.form_section_content_input{float:left;margin-right:15px;position:relative;}
.input_label{display:block;float:none;font-size:16px;letter-spacing:.5px;position:relative;text-decoration:none;}
.input_label_radio{margin-bottom:3px;}
.radio_label{font-size:16px;margin-left:2px;vertical-align:top}
.label_check{float:none;display:inline;color:#000;font-size:10px;letter-spacing:0;}
.label_required{color:#e51515;font-size:12px;vertical-align:3px;}
.label_description{color:#808080;font-size:10px;letter-spacing:0;vertical-align:2px;}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"]{float:none;height:30px;position:relative;width:300px;}
input[type="radio"]{vertical-align:middle;}
.second_radio_btn{margin-left:15px;}
input:invalid, input:focus, input:-moz-ui-invalid, textarea:invalid, input:focus:hover{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;height:30px;}
input:focus, input:focus:hover{background-color:#FFF;-moz-box-shadow:0 0 5px #2a5fa8;-webkit-box-shadow:0 0 5px #2a5fa8;box-shadow:0 0 5px #2a5fa8;}
input[placeholder]{padding-left:2px;}
select{float:none;height:27px;margin-top:3px;padding-top:4px;position:relative;}
option, option.paypal_hidden{display:block;}

#shipping_info{border-top:1px solid #CCC;clear:both;display:none;margin-top:8px;}
.second_email_checkbox{clear:left;margin-top:2px;}
select.select_state{width:110px;}
input.input_zip{width:175px;}
select.select_card {width:145px;}
.image_cc{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-5px -108px;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;height:23px;margin-top:24px;margin-left:-1px;width:147px;}
select.select_month{width:130px;}
.expiration_divider{vertical-align:-3px;}
select.select_year{width:70px;}
.cvv_message{float:left;margin:0;padding:0;}
input.input_ccv,input.input_ccv:focus,input.input_ccv:hover{float:left;margin-top:3px;margin-right:15px;position:relative;width:45px;}
.image_ccv{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-5px -5px;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;height:98px;margin-top:-18px;margin-left:2px;margin-right:1px;position:relative;width:240px;}

.form_nav_buttons{clear:both;float:right;margin-top:15px;}
.form_nav_contact{margin-right:71px;}
.form_nav_billing{margin-right:33px;}
.form_nav_payment{margin-top:26px;margin-bottom:8px;margin-right:33px;}

.prev_link{float:left;margin-top:4px;margin-right:4px;}
.prev_link_cta{margin-top:11px;}
.next_link{float:left;}

.terms_conditions{clear:both;float:left;margin:13px 25px 0 25px;font-size:12px;width:100%;}
.terms_conditions_text{list-style:none;margin:0;padding:0;text-align:left;width:100%;}
.terms_conditions_text li{display:inline;margin-right:4px;}
.terms_conditions_text:last-of-type{margin-right:0;}
#amex_agreement_check{display:none;}
#amex_agreement_check:hover{cursor:pointer;}
.amex_agreement_label{display:inline;font-size:12px;letter-spacing:.5px;text-decoration:none;}
.amex_agreement_label:hover{cursor:default;}
#error_card_amex {clear:both;float:none;margin-top:10px;width:auto;}
a#terms_link, a#terms_link:link, a#terms_link:visited, a#terms_link:active{display:inline;font-size:12px;text-decoration:underline;}
a#terms_link:hover{cursor:pointer;text-decoration:underline;}

.satisfaction_guarantee_container{clear:both;float:left;margin:0;margin-top:27px;padding:0;padding-bottom:3px;position:relative;width:100%;}
.satisfaction_guarantee_text{list-style:none;margin:0;margin-left:25px;padding:0;text-align:center;width:486px;}
.satisfaction_guarantee_text li{color:#555;display:inline;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:18px;font-weight:700;}
.satisfaction_image{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-112px -230px;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;height:31px;width:31px;}
.satisfaction_message{padding-left:6px;}
.orderForm_security_img{margin-left:20px;}
.orderForm_security_img span{margin:0;padding:0;}

#non_amex_customer{display:none;clear:both;float:left;}
.additional_terms_text{clear:both;float:left;font-size:10px;margin-top:26px;padding:0 13px;}
#old_order_text{display:none;clear:both;float:left;font-size:11px;margin-top:0;margin-left:2px;}

.paypal_hidden, .creditcard_display{display:inherit;}
.creditcard_hidden, .paypal_display{display:none;}
.payment_type_paypal_description{clear:left;font-size:13px;font-weight:600;float:left;margin-top:6px;position:relative;}

.validation_message{float:left;margin:0;padding-top:26px;position:relative;width:auto;}
.validation_message_top{margin-left:0;padding-top:0;}

.LV_validation_message{font-size:13px;font-weight:700;letter-spacing:.5px;margin:0 0 0 5px;padding-top:0;padding-bottom:0;position:relative;text-decoration:none;}
.LV_valid{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-225px -136px;background-repeat:no-repeat;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;color:#009744;height:17px;padding:0 0 0 25px;top:2px;width:5px;}
.LV_invalid{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-230px -107px;background-repeat:no-repeat;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;color:#E51515;height:18px;padding:0 0 0 19px;top:1px;width:6px;}

input.LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active, .fieldWithErrors input.LV_valid_field, .fieldWithErrors textarea.LV_valid_field{background-color:#FFF;border:1px solid #009744;border-right:3px solid #009744;height:26px;}
input.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active, .fieldWithErrors input.LV_invalid_field, .fieldWithErrors textarea.LV_invalid_field{background-color:#dde8f0;border:1px solid #e51515;border-right:3px solid #e51515;height:26px;}

.validation_error{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-230px -108px;background-repeat:no-repeat;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;color:#E51515;float:left;font-size:13px;font-weight:700;height:17px;letter-spacing:0;margin:0;padding:0 0 0 19px;text-decoration:none;}
.validation_valid{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-225px -136px;background-repeat:no-repeat;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;height:17px;margin:0 0 0 25px;}
.validation_valid_alt{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-225px -136px;;background-repeat:no-repeat;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;margin:0;margin-right:5px;}

#error_buyerState, #buyerState_shipping_charge, #buyerAddress_mismatch, #error_shipToState, #shipToState_shipping_charge, #shipToAddress_mismatch, #error_cardType, #error_cardExpirationMonth, #error_cardExpirationYear, #creditCard_mismatch, #error_card_amex{display:none;}
#creditCard_mismatch{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-top:10px;margin-bottom:32px;width:549px;}
#buyerAddress_mismatch{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-top:0;margin-bottom:24px;width:549px;}
#shipToAddress_mismatch{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-top:0;margin-bottom:24px;width:549px;}
.shipping_charge{color:#e57d15;font-size:13px;font-weight:700;letter-spacing:.5px;padding-right:25px;text-decoration:none;}
#buyerState_shipping_charge{padding-bottom:10px;}
.shipping_charge_image{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-63px -166px;background-repeat:no-repeat;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;clear:none;float:left;height:25px;margin-top:5px;margin-left:5px;margin-right:7px;}
#error_cardType{margin-left:5px;}
#error_cardExpirationMonth, #error_cardExpirationYear{float:left;}
p.cvv_message span.LV_validation_message{clear:left;display:inline-block;float:left;left:332px;position:absolute;margin-top:25px;width:auto;}
p.cvv_message span.LV_valid, p.cvv_message span.LV_invalid{width:250px;}

.sidebar_cart{border: 1px solid #434750;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin:0;padding:0;padding-bottom:9px;position:relative;width:100%;}
.sidebar_cart_header{border-bottom:1px solid #434750;-webkit-border-radius:10px 10px 0 0;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-radius:10px 10px 0 0;display:block;height:25px;margin-bottom:1px;width:100%;}
.edit_link {float:right;font-size:12px;margin-top:4px;margin-right:4px;}

.sidebar_cart_content{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0 15px;width:100%;}
.sidebar_cart ul{clear:both;float:left;list-style:none;margin:0;padding:0;width:100%}
.sidebar_cart ul li{float:left;}

ul.sidebar_cart_product_row{border-bottom:1px solid #9aa3a8;margin-top:5px;padding-bottom:6px;position:relative;}
li.sidebar_cart_product_description_image{border:1px solid #000;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .7);-moz-box-shadow:0 0 5px rgba(0, 0, 0, .7);box-shadow:0 0 5px rgba(0, 0, 0, .7);display:none;position:absolute;left:-81px;top:-30px;}
li.sidebar_cart_product_description_image img{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
li.sidebar_cart_product_description{font-size:12px;font-weight:400;text-align:left;width:211px;}
li.sidebar_cart_product_description a{cursor:pointer;text-decoration:underline;}
li.sidebar_cart_product_quantity{text-align:right;width:15px;}
li.sidebar_cart_product_times{color:#86878c;text-align:right;width:16px;}
li.sidebar_cart_product_price{text-align:right;width:51px;}

ul.sidebar_cart_summary_row{margin-top:4px;}
ul.sidebar_cart_final_row{border-top:1px solid #9aa3a8;margin-top:5px;margin-bottom:7px;padding-top:16px;}
li.sidebar_cart_label{font-size:12px;font-weight:700;padding-top:1px;text-align:right;width:224px;}
li.sidebar_cart_price{text-align:right;width:69px;}
li.sidebar_cart_final_label{font-size:16px;font-weight:700;text-align:right;width:224px;}
li.sidebar_cart_final_price{font-size:16px;font-weight:700;text-align:right;width:69px;}

.offer_details{background-color:#f2f5f7;border:1px solid #434750;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;clear:left;float:left;margin-top:15px;padding-bottom:12px;position:relative;width:100%;}
.details_header{border-bottom:1px solid #434750;-webkit-border-radius:10px 10px 0 0;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-radius:10px 10px 0 0;display:block;height:25px;margin-bottom:1px;width:100%;}
.details_message{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;font-size:12px;font-weight:400;margin-top:2px;padding:0 15px; width:100%;}
.details_image{float:left;height:127px;margin:0 0 8px 7px;width:280px;}
.order_notes{clear:left;float:left;font-size:11px;font-weight:400;margin-top:6px;}
.order_notes a{cursor:pointer;text-decoration:underline;}

.ssl_badge{background-image:url(/img/ssl.jpg);clear:left;float:left;height:117px;margin-top:5px;position:relative;width:325px;}

#product_options_summary{clear:none;float:right;margin-top:30px;width:477px}
.product_options_content{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0 15px;position:relative;width:100%;}
.product_options_summary_description{color:#878a8c;font-size:16px;font-weight:400;text-align:center;width:100%;}
ul.product_options_summary_row{list-style:none;margin-top:4px;text-align:center;}
ul.product_options_summary_row li{display:inline;float:none;}
.product_options_summary_label{color:#636566;font-size:12px;font-weight:700;margin-right:5px;padding-top:1px;}
.product_options_summary_price{color:#434445;margin-right:30px;}
.product_options_summary_price:last-of-type{margin-right:0;}
ul.product_options_summary_final_row{border-top:1px solid #9aa3a8;margin-top:5px;margin-bottom:2px;padding-top:10px;}
ul.product_options_summary_final_row li{color:#434445;float:right;font-size:20px;font-weight:700;text-align:right;}
.product_options_summary_final_label{margin-right:14px;}


/* FULL WIDTH ORDER SUMMARY STYLES ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.full_order_summary{clear:both;position:relative;width:100%;}
.full_order_summary ul{clear:both;list-style:none;}

.full_order_summary_headings{border:1px solid #434750;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;height:25px;width:100%;}
ul.full_order_summary_headings li{color:#f6f6f6;float:left;font-size:14px;font-weight:700;letter-spacing:.5px;margin-left:25px;overflow:visible;padding-top:3px;text-shadow:2px 2px 1px #000000;}

.full_order_summary_product{text-align:center;width:70px;}
.full_order_summary_description{width:532px;}
.full_order_summary_price{text-align:center;width:58px;}
.full_order_summary_times{width:10px;}
.full_order_summary_quantity{text-align:center;width:34px;}
ul.full_order_summary_headings .full_order_summary_quantity{margin-left:7px;width:52px;}
.full_order_summary_equals{width:10px;}
.full_order_summary_total{text-align:center;width:86px;}
.full_order_summary_remove{width:81px;}

.full_order_summary_details{border-bottom:1px solid #CCC;font-size:15px;height:70px;padding:10px 0;width:100%;}
.full_order_summary_details li{float:left;margin-left:25px;}
.summary_details_product{height:70px;}
.summary_details_description{font-size:16px;padding-top:18px;}
.summary_details_price{padding-top:25px;}
.summary_details_times{color:#8e8e8e;padding-top:24px;}
.summary_details_quantity{padding-top:25px;}
.summary_details_equals{color:#8e8e8e;padding-top:24px;}
.summary_details_total{font-size:18px;padding-top:22px;padding-right:15px;text-align:right;width:71px;}
.summary_details_remove{font-size:11px;padding-top:27px;}
.remove_link{color:#FFF;font-size:12px;text-decoration:none;}

.full_summary_totals_right{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;clear:both;float:right;margin:0;margin-left:25px;padding:0;width:375px;}

.update_quantity{border-bottom:1px solid #CCC;float:right;padding:0;width:100%;}
.update_link{display:block;float:right;font-size:15px;margin:14px 215px 15px 0;}
input.ala_carte{margin:0;padding:0;text-align:right;width:auto;}
span.non_ala_carte{padding-top:4px;}

.full_summary_totals{clear:both;float:right;width:100%}
.full_summary_totals_line_item{float:right;font-size:18px;margin-top:8px;margin-right:5px;}
.full_summary_totals_heading{color:#4a4a4a;float:left;font-weight:600;text-align:right;width:215px;}
.full_summary_totals_dollar_value{float:left;margin-left:25px;padding-right:15px;text-align:right;width:71px;}
.full_summary_totals_right li.full_order_summary_remove{float:left;margin-left:25px;max-width:103px;min-width:103px;width:103px;}
.shipping_surcharge_heading{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:14px;font-weight:700;padding-top:5px;}

.full_summary_totals_divider{background-color:#ccc;clear:both;float:right;height:1px;margin:0;margin-top:10px;width:100%;}

.full_summary_totals_final{clear:right;color:#000;float:right;font-size:20px;font-weight:700;margin-top:1px;margin-right:5px;padding-top:8px;}
.full_summary_totals_final_heading{float:left;font-weight:700;margin-right:25px;text-align:right;width:170px;}
.thankyou_summary_totals_final_heading{float:left;font-weight:700;margin-right:25px;text-align:right;}
.full_summary_totals_final_dollar_value{float:left;padding-right:15px;text-align:right;width:71px;}

.call_to_action{float:right;margin-top:26px;width:441px;}
.amex_btns{float:right;}
.edit_amex_order_right{margin-top:9px;margin-left:12px;}
.edit_amex_order_left{margin-top:9px;margin-right:12px;}
.note_to_amex{clear:right;display:none;float:right;font-size:12px;margin-top:25px;width:340px;}
.confirm_security_img, .thankyou_security_img{clear:right;float:right;margin-top:16px;margin-right:58px;}

/* PAYMENT INFORMATION -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.payment_information{border: 1px solid #434750;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;float:right;margin-top:25px;padding-bottom:19px;position:relative;width:573px;}
.payment_info_header{border-bottom:1px solid #434750;-webkit-border-radius:10px 10px 0px 0px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-radius:10px 10px 0px 0px;display:block;height:41px;margin-bottom:1px;position:relative;width:100%;}
.payment_info_header_headline{float:left;margin-left:15px;}
.payment_info_header_icon{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-175px -130px;width:21px;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;height:28px;margin-top:1px;position:relative;top:7px;width:44px;}
.payment_info_header_heading{color:#FFF;float:left;font-size:22px;font-weight:700;letter-spacing:.5px;padding-left:2px;position:relative;top:7px;text-shadow:2px 2px 1px #000;}
a.edit_information{float:right;margin-top:9px;margin-right:8px;padding-top:1px;}

.payment_info_cc{border-bottom:1px solid #8f8f8f;float:left;margin-top:14px;margin-left:20px;padding-bottom:17px;width:533px;}
.payment_info_address{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-top:16px;margin-left:20px;width:247px;}
.payment_info_billing{border-right:1px solid #8f8f8f;padding-right:20px;width:267px;}

.payment_info_heading{color:#36445b;float:left;font-size:22px;font-weight:600;margin-bottom:4px;letter-spacing:.5px;}
.payment_info_cc_details{color:#4a4a4a;clear:left;float:left;font-size:16px;letter-spacing:-.5px;word-spacing:-.5px;}
.payment_info_cc_details_bold{color:#000;font-size:18px;}
.payment_info_cc_details_divider{background-color:#8f8f8f;height:15px;margin-left:10px;margin-right:11px;width:1px;}
.payment_info_details{clear:left;float:left;font-size:16px;line-height:17px;}

li.payment_info_heading span.paypal_hidden, li.payment_info_heading span.creditcard_hidden, li.payment_info_cc_details span.paypal_hidden, li.payment_info_cc_details span.creditcard_hidden{display:inline;}


/* POPUP POLICY CSS ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#policy_popup{background-color:#fff;border:2px solid #121212;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;display:none;height:465px;max-height:465px;padding-bottom:20px;position:relative;width:680px;max-width:680px;}
.popup_header, .popup_policy_header{border-bottom:1px solid #333;-webkit-border-radius:10px 10px 0 0;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-radius:10px 10px 0 0;height:43px;margin-bottom:0;position:relative;width:100%;}
.popup_header_icon, .popup_heading_icon{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;display:block;float:left;height:33px;margin-top:4px;margin-left:11px;margin-right:6px;min-width:24px;}
#popup_header_upsells{background-position:-5px -229px;width:30px;}
#popup_header_terms, #terms_heading_icon{background-position:-34px -268px;width:34px;}
#popup_header_privacy, #privacy_heading_icon{background-position:-40px -230px;width:29px;}
#popup_header_security, #security_heading_icon{background-position:-5px -268px;width:24px;}
#popup_header_purchasing, #purchasing_heading_icon{background-position:-75px -268px;width:27px;}
#popup_header_returns, #returns_heading_icon{background-position:-107px -268px;width:46px;}
#popup_header_contact, #contact_heading_icon{background-position:-158px -268px;width:44px;}
.popup_header_heading, .popup_heading{color:#FFF;font-size:28px;font-weight:700;letter-spacing:.5px;padding-top:3px;text-shadow:2px 2px 1px #000;}
.popup_header_heading_es{color:#FFF;font-size:28px;font-weight:700;letter-spacing:.5px;padding-top:3px;text-shadow:2px 2px 1px #000;}
.policy_content_container{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;height:400px;overflow-y:scroll;overflow-x:hidden;padding:15px 20px 18px 20px;position:relative;width:100%;}
p.popup_lead_heading{border-bottom:1px solid #b8b8b8;color:#000;font-size:22px;font-weight:700;margin-left:-5px;margin-bottom:20px;margin-top:25px;padding:0 2px 1px 2px;text-transform:uppercase;width:auto;}
p.popup_lead_heading:first-child{margin-top:10px;}
p.popup_content_heading{color:#404040;font-size:18px;font-weight:600;}
p.popup_content_text{line-height:17px;margin-left:10px;margin-top:10px;margin-bottom:10px;}
hr.popup_divider{background-color:#B8B8B8;height:1px;margin-top:14px;margin-bottom:15px;}
a.bClose{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-75px -229px;-moz-background-size:250px 305px;-o-background-size:250px 305px;-webkit-background-size:250px 305px;background-size:250px 305px;float:left;cursor:pointer;display:inline-block;height:32px;position:absolute;right:-18px;top:-15px;width:32px;z-index:3200;}
a.bClose span{display:none;}



#confirmation_popup, #confirmation_content, .confirmation_content_container, .confirmation_payment_summary, .confirmation_order_summary{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
#confirmation_popup{background-color:#fff;border:2px solid #121212;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;display:none;height:525px;max-height:525px;overflow:visible;padding-bottom:20px;position:relative;width:910px;max-width:910px;}
#confirmation_content, .confirmation_content_default{overflow-x:visible;width:100%;}
.confirmation_content_container{float:left;height:469px;overflow-y:scroll;overflow-x:visible;padding:6px 20px 18px 20px;position:relative;width:100%;}

.confirmation_payment_summary{border:1px solid #434750;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;display:block;float:left;margin-top:14px;padding-bottom:13px;width:306px;}
.confirmation_payment_info_header{border-bottom:1px solid #434750;-webkit-border-radius:10px 10px 0px 0px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-radius:10px 10px 0px 0px;display:block;height:25px;margin-bottom:1px;position:relative;width:100%;}
.confirmation_payment_info_header_headline{float:left;margin-left:15px;}
.confirmation_payment_info_header_icon{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/universal_cart_images.png);background-position:-4px -117px;width:21px;-moz-background-size:214px 262px;-o-background-size:214px 262px;-webkit-background-size:214px 262px;background-size:214px 262px;float:left;height:18px;margin-top:1px;position:relative;top:4px;width:26px;}
.confirmation_payment_info_header_heading{color:#fff;float:left;font-size:14px;font-weight:700;letter-spacing:.5px;padding-left:5px;position:relative;text-shadow:2px 2px 1px #000;top:3px;}

.confirmation_payment_info_cc, .confirmation_payment_info_address{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin-left:15px;width:278px;}
.confirmation_payment_info_cc{border-bottom:1px solid #8f8f8f;float:left;margin-top:10px;padding-bottom:13px;}
.confirmation_payment_info_address{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-top:11px;}

.confirmation_payment_info_heading{clear:left;color:#36445b;display:inline-block;float:left;font-size:16px;font-weight:600;margin-bottom:4px;letter-spacing:.5px;}
.confirmation_payment_info_heading span{float:left;}
.confirmation_payment_info_details{clear:left;float:left;font-size:14px;line-height:18px;}
.confirmation_payment_info_details #confirmation_payment_info_cc_name, .confirmation_payment_info_details span.paypal_hidden, .confirmation_payment_info_details span.creditcard_hidden{float:left;}

.confirmation_order_summary{display:block;float:left;margin-top:47px;margin-left:20px;width:520px;}
.popup_confirmation_product_heading_list, .popup_confirmation_product_item{border-bottom:1px solid #b8b8b8;display:block;width:100%;}
.popup_confirmation_product_heading, .popup_confirmation_product, .confirmation_order_summary_total_description, .confirmation_order_summary_total_number{display:inline-block;}
.popup_confirmation_product_heading{color:#444;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:16px;font-weight:700;padding-bottom:7px;}
.popup_confirmation_product_heading_description{margin-left:22px;}
.popup_confirmation_product_heading_price{margin-left:229px;}
.popup_confirmation_product_heading_quantity{margin-left:14px;}
.popup_confirmation_product_heading_total{margin-left:20px;}

.popup_confirmation_product_item{padding:2px 0;}
.popup_confirmation_product{margin:0;padding:0;}
.popup_confirmation_product_image{height:46px;width:46px;}
.popup_confirmation_product_description{height:100%;margin-left:15px;text-align:left;vertical-align:middle;width:284px;}
.popup_confirmation_product_price{font-size:14px;margin-left:8px;text-align:right;width:50px;}
.popup_confirmation_product_times{color:#aaa;font-size:12px;margin-left:11px;text-align:center;width:10px;}
.popup_confirmation_product_quantity{font-size:14px;margin-left:8px;text-align:center;width:10px;}
.popup_confirmation_product_equals{color:#888;font-size:12px;margin-left:8px;text-align:center;width:10px;}
.popup_confirmation_product_total{font-size:16px;font-weight:600;text-align:right;width:60px;}

.confirmation_order_summary_totals{clear:right;display:block;float:right;margin-top:2px;}
.confirmation_order_summary_totals_subtotal{margin-top:4px;}
.confirmation_order_summary_totals_final{border-top:1px solid #b8b8b8;margin-top:5px;padding-top:2px;padding-bottom:0;}
.confirmation_order_summary_total_description{color:#444;font-size:12px;font-weight:700;text-align:right;width:255px;}
.confirmation_order_summary_total_number{font-size:16px;font-weight:600;text-align:right;width:70px;}
.confirmation_order_summary_totals_final .confirmation_order_summary_total_description{color:#000;font-size:18px;font-weight:700;}
.confirmation_order_summary_totals_final .confirmation_order_summary_total_number{font-size:20px;font-weight:700;}

.confirmation_order_buttons{clear:both;display:block;float:right;margin-top:38px;}
.confirmation_thanks_btn, .confirmation_offers_btn{display:inline-block;vertical-align:middle;}
.confirmation_offers_btn{padding-bottom:6px;}
.confirmation_thanks_btn{margin-right:17px;}
a.btn_confirmation_popup{text-decoration:none;}

.popup_btn_text_container{margin:-1px 0 -4px 0;text-align:center;width:100%;}
.popup_btn_text{display:inline-block;margin:0;text-align:center;width:auto;vertical-align:top;}
.asotv_btn_logo, .magazine_btn_logo{display:inline-block;height:39px;margin:2px 0 0 4px;vertical-align:top;width:49px;}
.asotv_btn_logo{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/asotv_btn_logo.png);}
.magazine_btn_logo{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/magazine_btn_logo.png);}

.confirmation_offers_btn a.btn_confirmation_popup .btn_secondary_text, .confirmation_thanks_btn a.btn_confirmation_popup .btn_secondary_text_thanks, .btn_secondary_text_card{text-transform:uppercase;}
.btn_secondary_text_browse{margin-top:1px;}
.btn_secondary_text_card, .btn_secondary_text_magazine{margin-top:-2px;}


/* UPSELL STYLES --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.upsell_container{clear:both;float:left;margin:0;padding:0;position:relative;width:100%;}

.upsell_message{float:left;width:100%;}
.upsell_message_headline{clear:left;color:#425d7c;float:none;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:21px;font-weight:700;line-height:16px;text-align:center;width:100%;}

#upsell_content_container{background-color:#f2f5f7;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.33);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,.33);box-shadow:0 0 5px 0 rgba(0,0,0,.33);clear:both;float:left;min-height:400px;height:400px;left:5px;margin-top:17px;position:relative;right:5px;}
#upsell_content_container .items{height:100%;}

.upsell_content{float:left;min-height:400px;overflow:hidden;width:970px;}

.upsell_image{background-color:#121212;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;float:left;height:378px;margin:10px 15px 10px 10px;padding:1px;width:273px;}
.upsell_image img{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;height:378px;width:273px;}

.upsell_info{float:left;height:auto;margin-top:10px;overflow-x:hidden;width:660px;}
.upsell_headline{color:#404040;font-size:22px;font-weight:700;margin-top:11px;text-align:center;width:100%;}
.upsell_text{font-size:16px;height:auto;letter-spacing:.5px;line-height:24px;margin:0;padding:0;padding-top:7px;position:relative;width:100%;}
.upsell_text script, .upsell_text noscript, .upsell_text noscript div, .upsell_text noscript img, .upsell_text script img{display:none;float:none;height:0;line-height:0;margin:0;margin-top:-32px;padding:0;position:absolute;top:-32px;width:0;}
.adwords_pixel_override{margin-bottom:-31px;}
.upsell_question{clear:both;float:left;margin-top:16px;padding:0;font-weight:700;line-height:17px;min-width:100%;width:100%;}
.upsell_question_options{float:left;line-height:22px;}
.multi_upsell_question_options{display:inline-block;float:left;line-height:22px;margin-bottom:8px;width:100%;}
.multi_upsell_question_option_row{clear:left;display:inline-block;float:left;margin:5px 0 0 0;width:100%;}
.upsell_dropdown{display:inline-block;float:left;margin-top:0;margin-bottom:2px;margin-left:6px;}
.multi_upsell_dropdown{display:inline-block;float:left;margin:-4px 6px 2px 26px;}
.multi_upsell_dropdown_label{display:inline-block;float:left;font-size:14px;margin-left:6px;}
.upsell_video_content_container video{border:1px solid #404040;-webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);-moz-box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);width:100%;}
.upsell_video_content_container_small{display:block;float:right;margin:3px 10px -5px 5px;position:relative;width:210px;}
.upsell_video_content_container_large{display:block;margin:5px auto 0 auto;position:relative;width:320px;}
.upsell_buttons{float:left;margin-top:25px;margin-bottom:4px;width:100%;}
.upsell_buttons ul{list-style:none;margin:0;}
.yes_upsell{float:left;margin-left:15px;margin-right:20px;}
.no_upsell{float:left;margin-top:18px;}
.decline_upsell_alt{background:transparent;border:0 solid #FFF;color:#7b8287;font-size:14px;font-weight:400;letter-spacing:.5px;padding:1px;text-decoration:underline;}
.decline_upsell_alt:hover{color:#bd322f;cursor:pointer;}
.landscape_upsell_image{display:none;}
.landscape_upsell_image img{display:none;}

.upsells_security_img{bottom:-5px;position:absolute;right:0;}


/* EVERYDAY SAVINGS STYLES ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.es_standard_logo{display:block;height:240px;margin:0;margin-top:-10px;position:relative;width:660px;}
.es_standard_logo_alt{display:block;height:85px;margin:0;margin-top:-10px;position:relative;width:660px;}
.es_mobile_logo{display:none;}

.es_possible_savings_text{display:block;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:700;letter-spacing:0;line-height:11px;margin-top:6px;position:relative;}

.es_offer_details_heading{color:#404040;font-size:16px;font-weight:700;}
.es_offer_details_text{display:block;font-size:12px;line-height:18px;margin-top:14px;padding-top:0;padding-bottom:7px;position:relative;}
.es_offer_details_text_alt{display:block;font-size:12px;line-height:18px;margin-top:10px;padding-top:6px;padding-bottom:7px;position:relative;}

.es_links_list{display:block;list-style-type:none;margin:0;padding:0;text-align:center;}
.es_links_list li{display:inline;font-size:16px;margin:0;padding:0;}
.es_links_list li.es_link_divider{margin:0 7px;}
.es_links_list li a{text-decoration:underline;}
.es_links_list li a:link, .es_links_list li a:visited, .es_links_list li a:active{color:#0066f4;}
.es_links_list li a:hover{color:#0046a8;}
.es_links_list ul li a:hover{cursor:pointer;}

.es_standard_bullets{display:none;height:137px;margin:0;margin-top:21px;position:relative;width:660px;}
.es_tablet_bullets, .es_mobile_bullets{display:none;}


/* UPSELL SCROLLABLE STYLES ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.scrollable{clear:left;float:left;min-height:400px;margin:0;overflow:hidden;padding:0;position:relative;width:970px;}
.scrollable .items{clear:both;position:absolute;width:20000em;}
.scrollable .active{cursor:default;position:relative;}


/* PROCESSING SPINNER ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#processing_container{background-color:#FFF;display:none;height:100%;left:0;opacity:0.9;position:absolute;top:0;width:100%;z-index:9000;}
.processing_box{height:180px;margin:0 auto;position:relative;top:35%;width:150px;}
#circles_container{height:150px;position:relative;-webkit-transform:scale(0.6);-moz-transform:scale(0.6);-o-transform:scale(0.6);-ms-transform:scale(0.6);width:150px;}
.circle_element{background-color:#FFF;-moz-border-radius:14px;-webkit-border-radius:14px;border-radius:14px;height:27px;position:absolute;width:27px;}
.processing_text {font-size:18px;font-weight:700;margin-top:0;text-align:center;text-transform:uppercase;width:150px;}

.circle_element{-webkit-animation:f_fadeCircle 1.04s infinite linear;-moz-animation:f_fadeCircle 1.04s infinite linear;-o-animation:f_fadeCircle 1.04s infinite linear;-ms-animation:f_fadeCircle 1.04s infinite linear;animation:f_fadeCircle 1.04s infinite linear;}

#rotate_circle01{left:0;top:61px;-webkit-animation-delay:.39s;-moz-animation-delay:.39s;-o-animation-delay:.39s;-ms-animation-delay:.39s;animation-delay:.39s;}
#rotate_circle02{left:18px;top:18px;-webkit-animation-delay:.52s;-moz-animation-delay:.52s;-o-animation-delay:.52s;-ms-animation-delay:.52s;animation-delay:.52s;}
#rotate_circle03{left:61px;top:0;-webkit-animation-delay:.65s;-moz-animation-delay:.65s;-o-animation-delay:.65s;-ms-animation-delay:.65s;animation-delay:.65s;}
#rotate_circle04{right:18px;top:18px;-webkit-animation-delay:.78s;-moz-animation-delay:.78s;-o-animation-delay:.78s;-ms-animation-delay:.78s;animation-delay:.78s;}
#rotate_circle05{right:0;top:61px;-webkit-animation-delay:.9099999999999999s;-moz-animation-delay:.9099999999999999s;-o-animation-delay:.9099999999999999s;-ms-animation-delay:.9099999999999999s;animation-delay:.9099999999999999s;}
#rotate_circle06{right:18px;bottom:18px;-webkit-animation-delay:1.04s;-moz-animation-delay:1.04s;-o-animation-delay:1.04s;-ms-animation-delay:1.04s;animation-delay:1.04s;}
#rotate_circle07{left:61px;bottom:0;-webkit-animation-delay:1.1700000000000002s;-moz-animation-delay:1.1700000000000002s;-o-animation-delay:1.1700000000000002s;-ms-animation-delay:1.1700000000000002s;animation-delay:1.1700000000000002s;}
#rotate_circle08{left:18px;bottom:18px;-webkit-animation-delay:1.3s;-moz-animation-delay:1.3s;-o-animation-delay:1.3s;-ms-animation-delay:1.3s;animation-delay:1.3s;}

@-webkit-keyframes f_fadeCircle{0%{background-color:#6a809e} 100%{background-color:#FFFFFF}}
@-moz-keyframes f_fadeCircle{0%{background-color:#6a809e} 100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeCircle{0%{background-color:#6a809e} 100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeCircle{0%{background-color:#6a809e} 100%{background-color:#FFFFFF}}
@keyframes f_fadeCircle{0%{background-color:#6a809e} 100%{background-color:#FFFFFF}}


/* THANK YOU PAGE STYLES ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.thankyou_summary{clear:both;float:left;margin-bottom:26px;position:relative;width:100%;}
.thankyou_message{list-style:none;}
.thankyou_message li{clear:left;float:left;text-align:center;width:958px;}
.thankyou_heading{color:#425d7c;font-size:28px;margin-top:-4px;}
.thankyou_heading_survey{display:inline-block;margin-left:15px;}
.thankyou_details{color:#4d4d4d;font-size:18px;margin-top:10px;}
span.outofstock_product_message{background-color:#fff880;border:1px dashed #4d4d4d;display:inline-block;font-size:16px;padding:20px 24px 21px 24px;}

.print_confirmation{cursor:pointer;float:left;margin-right:21px;}
.thankyou_cta{float:right;margin-top:18px;width:100%}

.tracking_information{background-color:#f2f5f7;border:1px solid #434750;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:right;margin-top:26px;padding-bottom:9px;position:relative;width:100%;}
.tracking_header{border-bottom:1px solid #434750;-webkit-border-radius:10px 10px 0 0;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-radius:10px 10px 0 0;display:block;height:25px;margin-bottom:1px;width:100%;}

.tracking_content{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin:0;margin-top:9px;padding:0 12px;width:100%;}
.tracking_message{float:left;width:100%;}
.tracking_message li{clear:left;float:left;width:100%;}
li.tracking_heading{font-size:16px;font-weight:600;letter-spacing:.5px;margin-top:4px;margin-bottom:6px;text-align:center;}
li.tracking_details{font-size:12px;}
li.tracking_heading a, li.tracking_heading a:visited{color:#497db9;}
li.tracking_heading a:hover, li.tracking_heading a:active{color:#7b8287;}

.banner_container{clear:both;float:left;position:relative;text-align:center;width:100%;}
.thank_you_banner{border:1px solid #000;display:inline-block;height:120px;margin-top:15px;width:600px;}

.thankyou_liveops_message_bottom{clear:both;float:left;height:60px;margin:15px auto 0 auto;position:relative;text-align:center;width:100%;}
.thankyou_liveops_message_bottom iframe{border:1px dashed #00f;display:inline-block;height:30px;margin:0;padding:15px;width:900px;}
.liveops_sponsored_callout{background:#00f;color:#fff;display:inline-block;font-family:'Open Sans Condensed', Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:700;padding:0 3px;position:absolute;top:0;right:24px;}

.backbtn_warning{border:1px solid #e7e7e7;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;clear:both;float:left;margin-top:15px;padding:15px;position:relative;width:100%;}
.backbtn_warning p{color:#db0000;font-size:16px;text-align:center;}


/* CSS BUTTON STYLES -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

a.btn_prev, a.btn_edit_order{font-size:14px;padding:2px 18px 3px 18px;}
a.btn_next{font-size:22px;padding:2px 18px 3px 18px;}
a.btn_cta{font-family:Kameron, 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:28px;padding:0 18px 1px 18px;}
a.btn_confirmation_popup .btn_main_text{color:#fff;font-family:Kameron, 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:22px;padding:1px 16px 0 16px;text-align:center;}
a.btn_confirmation_popup .btn_main_text_thanks, a.btn_confirmation_popup .btn_secondary_text, a.btn_confirmation_popup .btn_secondary_text_thanks, a.btn_confirmation_popup .btn_secondary_text_browse, a.btn_confirmation_popup .btn_secondary_text_card, .btn_secondary_text_magazine{color:#fff;font-family:'Open Sans Condensed', Verdana, Arial, Helvetica, sans-serif;text-align:center;}
a.btn_confirmation_popup .btn_main_text_thanks{font-size:20px;padding:0 14px 1px 14px;}
a.btn_confirmation_popup .btn_secondary_text{font-size:18px;font-weight:700;line-height:18px;padding:0 18px;}
div.popup_btn_text_container .btn_secondary_text{padding:0;}
a.btn_confirmation_popup .btn_secondary_text_thanks{font-size:13px;font-weight:700;padding:0 10px 6px 10px;}

a.btn_confirmation_popup .btn_secondary_text_browse{font-size:14px;font-weight:700;padding:0;}
a.btn_confirmation_popup .btn_secondary_text_card{font-size:17px;font-weight:700;letter-spacing:-.1px;padding:0;}
a.btn_confirmation_popup .btn_secondary_text_magazine{font-size:15.5px;font-weight:700;letter-spacing:-.1px;padding:0;}

a.btn_confirm_order{font-family:Kameron, 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:28px;padding:1px 18px 1px 18px;}
a.btn_medium{padding:1px 14px 2px 13px;}
a.btn_small{padding:0 11px 1px 11px;}
a.btn_upsell_accept{display:inline-block;font-family:Kameron, 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:36px;font-weight:700;letter-spacing:.5px;padding:0 18px;word-spacing:1px;}
a.btn_breadcrumbs{font-size:18px;padding:2px 14px 3px 14px;}
a.btn_print_confirmation{font-size:18px;padding:0 10px 1px 9px;}

.btn_stroke{text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 1px #000;}


.ala_carte{display:none;}
.non_ala_carte{display:inline;}


/* CSS GRADIENT BACKGROUNDS ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.bg_standard_grey, .btn_grey_bg{background:#666;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #9ba4a9 0%, #5c6166 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ba4a9), color-stop(100%,#5c6166));background:-webkit-linear-gradient(top, #9ba4a9 0%,#5c6166 100%);background: -o-linear-gradient(top, #9ba4a9 0%,#5c6166 100%);background:-ms-linear-gradient(top, #9ba4a9 0%,#5c6166 100%);background:linear-gradient(top,  #9ba4a9 0%,#5c6166 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ba4a9', endColorstr='#5c6166', GradientType=0 );}
a.bg_standard_grey:hover, div.bg_standard_grey:hover{background:#767e83;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZGJkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDQzNDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #d9dbdd 0%, #404347 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dbdd), color-stop(100%,#404347));background:-webkit-linear-gradient(top, #d9dbdd 0%,#404347 100%);background:-o-linear-gradient(top, #d9dbdd 0%,#404347 100%);background:-ms-linear-gradient(top, #d9dbdd 0%,#404347 100%);background:linear-gradient(top,  #d9dbdd 0%,#404347 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dbdd', endColorstr='#404347', GradientType=0 );-webkit-box-shadow:0 1px 2px 0 #999999;-moz-box-shadow:0 1px 2px 0 #999999;box-shadow:0 1px 2px 0 #999;}
.bg_light_grey{background:#c8ced1;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M4Y2VkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NzhmOTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #c8ced1 0%, #878f98 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8ced1), color-stop(100%,#878f98));background:-webkit-linear-gradient(top, #c8ced1 0%,#878f98 100%);background:-o-linear-gradient(top, #c8ced1 0%,#878f98 100%);background:-ms-linear-gradient(top, #c8ced1 0%,#878f98 100%);background:linear-gradient(top, #c8ced1 0%,#878f98 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8ced1', endColorstr='#878f98', GradientType=0 );}
a.bg_light_grey:hover {background:#e6e8eb;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZThlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDcyN2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #e6e8eb 0%, #6d727a 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e8eb), color-stop(100%,#6d727a));background:-webkit-linear-gradient(top, #e6e8eb 0%,#6d727a 100%);background:-o-linear-gradient(top, #e6e8eb 0%,#6d727a 100%);background:-ms-linear-gradient(top, #e6e8eb 0%,#6d727a 100%);background:linear-gradient(top, #e6e8eb 0%,#6d727a 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e8eb', endColorstr='#6d727a', GradientType=0 );-webkit-box-shadow:0 1px 2px 0 #212328;-moz-box-shadow:0 1px 2px 0 #212328;box-shadow:0 1px 2px 0 #212328;}
.bg_standard_orange{background:#d7490a;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2YTMzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZDA5MDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #f6a337 0%, #bd0906 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6a337), color-stop(100%,#bd0906));background:-webkit-linear-gradient(top, #f6a337 0%,#bd0906 100%);background:-o-linear-gradient(top, #f6a337 0%,#bd0906 100%);background:-ms-linear-gradient(top, #f6a337 0%,#bd0906 100%);background:linear-gradient(top,  #f6a337 0%,#bd0906 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6a337', endColorstr='#bd0906', GradientType=0 );}
a.bg_standard_orange:hover, div.bg_standard_orange:hover{background:#e4610d;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5YzE0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMzBjMDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #f9c149 0%, #d30c08 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c149), color-stop(100%,#d30c08));background:-webkit-linear-gradient(top, #f9c149 0%,#d30c08 100%);background:-o-linear-gradient(top, #f9c149 0%,#d30c08 100%);background:-ms-linear-gradient(top, #f9c149 0%,#d30c08 100%);background:linear-gradient(top,  #f9c149 0%,#d30c08 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c149', endColorstr='#d30c08', GradientType=0 );-webkit-box-shadow:0 1px 2px 0 #999;-moz-box-shadow:0 1px 2px 0 #999;box-shadow:0 1px 2px 0 #999;}
.bg_light_blue{background:#647e9e;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E4YzRkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZTRmNzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #a8c4d7 0%, #3e4f76 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8c4d7), color-stop(100%,#3e4f76));background:-webkit-linear-gradient(top, #a8c4d7 0%,#3e4f76 100%);background:-o-linear-gradient(top, #a8c4d7 0%,#3e4f76 100%);background:-ms-linear-gradient(top, #a8c4d7 0%,#3e4f76 100%);background:linear-gradient(top,  #a8c4d7 0%,#3e4f76 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8c4d7', endColorstr='#3e4f76', GradientType=0 );}
.bg_medium_blue{background:#7898af;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4OThhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTQwNjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #7898af 0%, #294064 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#7898af), color-stop(100%,#294064));background:-webkit-linear-gradient(top, #7898af 0%,#294064 100%);background:-o-linear-gradient(top, #7898af 0%,#294064 100%);background:-ms-linear-gradient(top, #7898af 0%,#294064 100%);background:linear-gradient(top, #7898af 0%,#294064 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7898af', endColorstr='#294064', GradientType=0 );}
.bg_dark_blue{background: #8a9eac;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4OThhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTQwNjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #8a9eac 0%, #435065 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a9eac), color-stop(100%,#435065));background:-webkit-linear-gradient(top, #8a9eac 0%,#435065 100%);background:-o-linear-gradient(top, #8a9eac 0%,#435065 100%);background:-ms-linear-gradient(top, #8a9eac 0%,#435065 100%);background:linear-gradient(top, #8a9eac 0%,#435065 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9eac', endColorstr='#435065', GradientType=0 );}
.bg_standard_green{background:#6ea281;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2ZDZiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjc3NTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #a6d6b0 0%, #3f7759 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6d6b0), color-stop(100%,#3f7759));background:-webkit-linear-gradient(top, #a6d6b0 0%,#3f7759 100%);background:-o-linear-gradient(top, #a6d6b0 0%,#3f7759 100%);background:-ms-linear-gradient(top, #a6d6b0 0%,#3f7759 100%);background:linear-gradient(top,  #a6d6b0 0%,#3f7759 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d6b0', endColorstr='#3f7759', GradientType=0 );}
.bg_dense_green{background: #80b689;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwYjY4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU1MzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #80b689 0%, #005530 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#80b689), color-stop(100%,#005530));background:-webkit-linear-gradient(top, #80b689 0%,#005530 100%);background:-o-linear-gradient(top, #80b689 0%,#005530 100%);background:-ms-linear-gradient(top, #80b689 0%,#005530 100%);background:linear-gradient(to bottom, #80b689 0%,#005530 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b689', endColorstr='#005530',GradientType=0 );}
.bg_dark_green{ background: #5b8b6e;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0YTg4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTc4NWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #74a886 0%, #40785a 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#74a886), color-stop(100%,#40785a));background:-webkit-linear-gradient(top, #74a886 0%,#40785a 100%);background:-o-linear-gradient(top, #74a886 0%,#40785a 100%);background:-ms-linear-gradient(top, #74a886 0%,#40785a 100%);background:linear-gradient(to bottom, #74a886 0%,#40785a 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#74a886', endColorstr='#40785a',GradientType=0 );}
.bg_sidebar_bluegrey{background:#cfd9e3;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZjFmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYmI3YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #e9f1f6 0%, #abb7c9 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f1f6), color-stop(100%,#abb7c9));background:-webkit-linear-gradient(top, #e9f1f6 0%,#abb7c9 100%);background:-o-linear-gradient(top, #e9f1f6 0%,#abb7c9 100%);background:-ms-linear-gradient(top, #e9f1f6 0%,#abb7c9 100%);background:linear-gradient(top, #e9f1f6 0%,#abb7c9 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f1f6', endColorstr='#abb7c9', GradientType=0 );}
.confirmation_payment_bg{background: #fafdff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWNlZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fafdff 0%, #c9ced6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafdff), color-stop(100%,#c9ced6));
    background: -webkit-linear-gradient(top, #fafdff 0%,#c9ced6 100%);
    background: -o-linear-gradient(top, #fafdff 0%,#c9ced6 100%);
    background: -ms-linear-gradient(top, #fafdff 0%,#c9ced6 100%);
    background: linear-gradient(to bottom, #fafdff 0%,#c9ced6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafdff', endColorstr='#c9ced6',GradientType=0 );}
.breadcrumbs_bg{background:#1bbf11;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyNmM3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODJjMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #626c72 0%, #282c32 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#626c72), color-stop(100%,#282c32))background:-webkit-linear-gradient(top, #626c72 0%,#282c32 100%);background:-o-linear-gradient(top, #626c72 0%,#282c32 100%);background:-ms-linear-gradient(top, #626c72 0%,#282c32 100%);background:linear-gradient(to bottom, #626c72 0%,#282c32 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#626c72', endColorstr='#282c32',GradientType=0 );}


/* CSS BUTTON DEFAULTS MUST REMAIN LAST STYLES ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

a.btn_general, a.btn_general:hover, div.btn_general, div.btn_general:hover{background-position:0 0;background-repeat:repeat-x;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border:1px solid #434750;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;color:#FFF;cursor:pointer;font-weight:700;letter-spacing:.5px;text-decoration:none;text-shadow:2px 2px 1px #000;background-origin:border-box;background-clip:padding-box;}

div.btn_general_rounder, div.btn_general_rounder:hover{-webkit-border-radius:24px;-moz-border-radius:24px;border-radius:24px;}