@charset "UTF-8";

/* TABLET CSS -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1004px) {

    .desktop_only{display:none;}
    .tablet_only{display:inline;}
    .mobile_only{display:none;}
    .mobile_align_vertical{display:table-cell;height:64px;vertical-align:middle;}

    #container{padding:0 18px;position:relative;width:732px;}

    #header{height:60px;}
    .header_logo{float:left;margin:0 7px;}
    .header_logo img{height:60px;}
    .header_headline{font-size:22px;height:30px;margin-top:14px;padding-top:3px;padding-left:7px;top:0;}
    .header_security_img{float:right;margin-top:14px;margin-right:15px;}
    .header_btn{float:right;margin-top:16px;margin-right:0;}
    .header_order_placed{margin-top:9px;}
    .header_order_placed_container{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;margin-top:0;margin-left:7px;}
    .header_order_placed_container_headline{font-size:19px;letter-spacing:1px;padding:1px 7px 0 14px;text-shadow:1px 1px .5px #000;word-spacing:1px;}
    .header_order_placed_container_text{font-size:10px;letter-spacing:0;padding:0 12px 3px 19px;word-spacing:0;}
    a.btn_breadcrumbs{font-size:16px;padding:2px 14px 3px 14px;}

    .breadcrumbs{height:31px;}
    .order_progress li{padding-left:10px;padding-right:10px;}
    .order_progress li:last-of-type{border-right:0 solid transparent;}
    li.breadcrumbs_headline{font-size:18px;letter-spacing:0;padding-top:2px;padding-left:12px;padding-right:12px;}
    .breadcrumbs_headline_arrows{vertical-align:1px;}
    .progress_text {font-size:12px;padding-top:7px;}
    .error_message{font-size:18px;}
    .error_message_text{font-size:14px;padding-bottom:13px;}

    #main{margin-top:11px;}
    .main_container_sidebar{float:left;margin:0;padding:0;position:relative;width:389px;}

    #sidebar{margin-left:18px;}
    .sidebar_header_headline{margin-left:11px;}

    #footer{margin-top:11px;}
    .telebrands_footer{display:none;}

    .section_header_headline{margin-left:11px;}
    .form_section_content{margin:11px 4px;width:381px;}
    #contact_info{padding-bottom:17px;}
    #billing_info{padding-bottom:17px;}
    #payment_info{padding-bottom:6px;}
    .form_section_content_heading{margin-left:11px;margin-top:11px;}
    .input_row{margin-top:7px;padding:0 0 0 18px;}
    .form_section_content .input_row:first-of-type{margin-top:14px;}
    .form_section_content_input{margin-right:0;}
    .input_label{font-size:14px;}
    .label_check{font-size:10px;}
    .label_required{font-size:10px;vertical-align:3px;}
    .label_description{font-size:10px;vertical-align:2px;}
    input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"]{height:30px;margin-top:2px;width:300px;}
    input:focus, input:focus:hover{height:30px;}
    input:invalid, input:-moz-ui-invalid, textarea:invalid{height:30px;}
    input.LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active, .fieldWithErrors input.LV_valid_field, .fieldWithErrors textarea.LV_valid_field{height:22px;}
    input.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active, .fieldWithErrors input.LV_invalid_field, .fieldWithErrors textarea.LV_invalid_field{height:22px;}
    input[placeholder]{padding-left:2px;}
    select{height:27px;margin-top:3px;padding-top:4px;}

    #shipping_info{margin-top:8px;}
    input.input_zip{margin-left:15px;width:175px;}
    .label_zip{margin-left:15px;}
    .image_cc{margin-top:22px;margin-left:14px;width:147px;}
    select.select_month{width:130px;}
    select.select_year{width:70px;}
    input.input_ccv{float:left;margin-top:3px;margin-right:15px;position:relative;width:45px;}

    .form_nav_buttons{margin-top:15px;}
    .form_nav_contact{margin-right:55px;}
    .form_nav_billing{margin-right:55px;}
    .form_nav_payment{margin-top:17px;margin-bottom:6px;margin-right:55px;}

    .prev_link{margin-top:4px;margin-right:4px;}
    .prev_link_cta{margin-top:8px;}
    .submit_order{}

    .terms_conditions{margin:8px 0 0 0;font-size:12px;}
    .terms_conditions_text{margin:0;padding:0 18px;text-align:center;width:343px;}
    .terms_conditions_text li{margin-right:4px;}
    .terms_conditions_text:last-of-type{margin-right:0;}
    .amex_agreement_label{font-size:11px;}
    #error_card_amex {margin-top:10px;margin-bottom:9px;}
    a#terms_link, a#terms_link:link, a#terms_link:visited, a#terms_link:active{font-size:12px;}

    .satisfaction_guarantee_container{margin-top:10px;padding-bottom:3px;}
    .satisfaction_guarantee_text{margin:0;padding:0;width:100%;}
    .satisfaction_guarantee_text li{clear:both}

    .additional_terms_text{font-size:10px;margin-top:26px;padding:0 13px;}
    #old_order_text{font-size:11px;margin-top:0;margin-left:2px;}

    .validation_message{padding-top:23px;min-width:0;}

    .LV_validation_message{color:transparent;overflow:hidden;}
    .LV_valid{min-height:17px;letter-spacing:-7px;padding:0 0 0 20px;width:0;min-width:0;max-width:0;}
    .LV_invalid{min-height:17px;letter-spacing:-7px;top:2px;width:6px;min-width:6px;max-width:6px;}

    .validation_error{color:transparent;overflow:hidden;width:0;}
    .validation_valid{color:transparent;margin:0;width:6px;}
    .validation_valid_alt{color:transparent;margin:0;}

    #error_buyerState_content, #error_cardType_content, #error_cardExpirationMonth_content, #error_cardExpirationYear_content{display:none;}
    #error_buyerState, #error_shipToState{margin-left:5px;}
    #error_cardType{margin-left:5px;}
    #error_cardExpirationMonth{margin-left:5px;}
    #error_cardExpirationYear{margin-left:5px;}
    #creditCard_mismatch{color:#E51515;margin-top:12px;margin-left:0;margin-bottom:22px;width:363px;}
    #buyerAddress_mismatch{color:#E51515;margin-top:0;margin-left:0;margin-bottom:16px;width:363px;}
    #shipToAddress_mismatch{color:#E51515;margin-top:0;margin-left:0;margin-bottom:16px;width:363px;}
    p.cvv_message span.LV_validation_message{display:inline-block;left:324px;width:auto;}
    p.cvv_message span.LV_valid, p.cvv_message span.LV_invalid{display:inline-block;margin-top:22px;}

    .terms_conditions_text .validation_error{color:#E51515;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:700;overflow:visible;padding:0 0 0 19px;}

    .offer_details{margin-top:11px;}

    #product_options_summary{margin-top:22px;width:357px}
    .product_options_summary_description{font-size:14px;}
    .product_options_summary_price{margin-right:16px;}
    ul.product_options_summary_final_row{margin-top:5px;margin-bottom:0;padding-top:9px;}
    ul.product_options_summary_final_row li{font-size:16px;}
    .product_options_summary_final_label{margin-right:14px;}

    ul.full_order_summary_headings li{margin-left:18px;padding-top:2px;}
    ul.full_order_summary_headings li.full_order_summary_description{width:325px;margin-right:16px;}
    ul.full_order_summary_headings li.full_order_summary_quantity{margin-left:2px;margin-right:16px;}
    ul.full_order_summary_headings li.full_order_summary_total{margin-left:21px;text-align:center;width:76px;}
    .full_order_summary_remove{width:81px;}

    .full_order_summary_details li{margin-left:18px;}

    ul.full_order_summary_details li.summary_details_description{display:inline-block;height:64px;padding-top:3px;padding-bottom:3px;width:341px;}
    ul.full_order_summary_details li.summary_details_quantity{text-align:center;width:34px;}
    ul.full_order_summary_details li.summary_details_total{padding-right:0;text-align:right;}
    ul.full_order_summary_details li.summary_details_remove{font-size:11px;padding-top:14px;}
    ul.full_order_summary_details li.remove_link{color:#FFF;font-size:12px;text-decoration:none;width:81px;}

    .full_summary_totals_right{margin-left:18px;width:374px;}

    .update_quantity{border-bottom:1px solid #CCC;float:right;padding:0;width:100%;}
    .update_link{display:block;float:right;font-size:15px;margin:14px 215px 15px 0;}
    input.ala_carte{margin:0;padding:0;text-align:right;width:auto;}
    span.non_ala_carte{padding-top:4px;}

    .full_summary_totals{margin-top:4px;}
    .full_summary_totals_line_item{margin-top:4px;margin-right:12px;}
    .full_summary_totals_heading{width:215px;}
    .full_summary_totals_dollar_value{margin-left:19px;padding-right:0;width:71px;}
    .full_summary_totals_right li.full_order_summary_remove{float:left;margin-left:25px;max-width:103px;min-width:103px;width:103px;}
    .shipping_surcharge_heading{padding-top:5px;}

    .full_summary_totals_divider{margin-top:8px;}

    .full_summary_totals_final{margin-right:12px;padding-top:8px;}
    .full_summary_totals_final_heading{margin-right:19px;width:170px;}
    .thankyou_summary_totals_final_heading{margin-right:25px;}
    .full_summary_totals_final_dollar_value{padding-right:0;width:71px;}

    .call_to_action{float:right;margin-top:20px;width:100%;}
    .note_to_amex{clear:right;display:none;float:right;font-size:12px;margin-top:25px;width:340px;}
    .confirm_security_img, .thankyou_security_img{clear:right;float:right;margin-top:16px;margin-right:58px;}

    .payment_information{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin-top:12px;padding-bottom:4px;width:340px;}
    .payment_info_header{height:41px;margin-bottom:1px;}
    .payment_info_header_headline{margin-left:12px;}
    .payment_info_header_heading{padding-left:2px;}
    a.edit_information{float:right;margin-top:9px;margin-right:8px;padding-top:1px;}

    .payment_info_cc{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin:0 12px;padding:7px 0 8px 0;width:314px;}
    .payment_info_address{clear:left;margin:0 12px;padding:8px 0 10px 0;width:314px;}
    .payment_info_billing{border-bottom:1px solid #8f8f8f;border-right:0 solid transparent;}

    .payment_info_heading{font-size:18px;margin-bottom:4px;}
    .payment_info_cc .payment_info_heading{margin-bottom:3px;}
    .payment_info_cc_details{font-size:14px;margin-left:4px;}
    .payment_info_cc_details_bold{clear:both;font-size:16px;}
    .payment_info_cc_details_divider{background-color:transparent;margin:0;visibility:hidden;}
    .payment_info_details{font-size:16px;line-height:16px;margin-left:4px;word-break:break-all;}

    .upsell_message_headline{font-size:16px;font-weight:700;line-height:16px;}

    #upsell_content_container{margin-top:17px;}
    .upsell_content{width:722px;}
    .scrollable{width:722px;}

    .upsell_image{background-color:#121212;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;float:left;height:378px;margin:10px 15px 10px 10px;padding:1px;width:273px;}
    .upsell_image img{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;height:378px;width:273px;}

    .upsell_info{margin-top:10px;width:412px;}
    .upsell_headline{font-size:22px;font-weight:700;margin-top:4px;}
    .upsell_text{font-size:14px;letter-spacing:.5px;line-height:21px;padding-top:7px;}
    .upsell_question{margin-top:16px;padding:0;font-weight:700;line-height:17px;}
    .upsell_question_options{line-height:22px;}
    .upsell_dropdown{margin-top:-4px;margin-bottom:2px;margin-left:6px;}
    .upsell_buttons{margin-top:25px;margin-bottom:4px;}
    .yes_upsell{margin-left:15px;margin-right:20px;}
    .no_upsell{margin-top:18px;}
    .decline_upsell_alt{color:#7b8287;font-size:14px;letter-spacing:.5px;padding:1px;}
    .decline_upsell_alt:hover{color:#bd322f;cursor:pointer;}

    .es_standard_logo{height:150px;margin-top:-6px;width:412px;}
    .es_standard_logo_alt{height:53px;margin-top:-6px;width:412px;}

    .es_offer_details_heading{font-size:14px;}
    .es_offer_details_text{font-size:12px;margin-top:6px;padding-top:6px;padding-bottom:7px;}

    .es_links_list li{font-size:13px;}
    .es_links_list li.es_link_divider{margin:0 3px;}

    .es_standard_bullets{display:none;}
    .es_tablet_bullets{display:none;height:202px;margin-top:13px;position:relative;width:412px;}

    #thankyou_header_security_img{display:none}
    .thankyou_summary{margin-bottom:15px;}
    .thankyou_message li{width:732px;}
    .thankyou_heading{margin-top:-4px;}
    .thankyou_details{font-size:15px;margin-top:9px;}
    span.outofstock_product_message{font-size:13px;padding:14px 18px 15px 18px;}

    .thankyou_liveops_message, .thankyou_liveops_iframe, .thankyou_liveops_message_bottom, .thankyou_liveops_message_bottom iframe{display:none;}

    .print_confirmation{float:left;margin-right:21px;}
    .thankyou_cta{margin-top:18px;}

    .tracking_information{margin-top:22px;padding-bottom:9px;}

    .tracking_content{margin-top:9px;padding:0 12px;}
    li.tracking_heading{font-size:16px;font-weight:600;margin-top:4px;margin-bottom:6px;text-align:center;}
    li.tracking_details{font-size:12px;}

    .backbtn_warning{margin-top:18px;padding:12px;}
    .backbtn_warning p{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:18px;font-weight:300;}



    #confirmation_popup{height:710px;max-height:710px;padding-bottom:20px;width:704px;max-width:704px;}
    .confirmation_content_container{height:654px;padding:6px 20px 18px 20px;}

    .confirmation_payment_summary{float:left;margin-top:14px;padding-bottom:13px;width:645px;}
    .confirmation_payment_info_header{height:25px;margin-bottom:1px;}
    .confirmation_payment_info_header_headline{margin-left:15px;}
    .confirmation_payment_info_header_heading{font-size:14px;letter-spacing:.5px;padding-left:5px;top:3px;}

    .confirmation_payment_info_cc, .confirmation_payment_info_address{margin-left:15px;width:298px;}
    .confirmation_payment_info_cc{border-bottom:0 solid transparent;margin-top:10px;padding-bottom:13px;}
    .confirmation_payment_info_address{border-left:1px solid #8f8f8f;margin-top:11px;padding-left:15px;}

    .confirmation_payment_info_heading{clear:left;color:#36445b;float:left;font-size:16px;margin-bottom:4px;letter-spacing:.5px;}
    .confirmation_payment_info_details{clear:left;float:left;font-size:14px;line-height:18px;}

    .confirmation_order_summary{float:left;margin-top:35px;margin-left:62px;width:520px;}
    .popup_confirmation_product_heading_list, .popup_confirmation_product_item{border-bottom:1px solid #b8b8b8;}
    .popup_confirmation_product_heading{font-size:16px;padding-bottom:7px;}
    .popup_confirmation_product_heading_description{margin-left:22px;}
    .popup_confirmation_product_heading_price{margin-left:229px;}
    .popup_confirmation_product_heading_quantity{margin-left:14px;}
    .popup_confirmation_product_heading_total{margin-left:20px;}

    .popup_confirmation_product_item{padding:2px 0;}
    .popup_confirmation_product_image{height:46px;width:46px;}
    .popup_confirmation_product_description{margin-left:15px;width:284px;}
    .popup_confirmation_product_price{font-size:14px;margin-left:8px;width:50px;}
    .popup_confirmation_product_times{font-size:12px;margin-left:11px;width:10px;}
    .popup_confirmation_product_quantity{font-size:14px;margin-left:8px;width:10px;}
    .popup_confirmation_product_equals{font-size:12px;margin-left:8px;width:10px;}
    .popup_confirmation_product_total{font-size:16px;width:60px;}

    .confirmation_order_summary_totals{clear:right;float:right;margin-top:2px;}
    .confirmation_order_summary_totals_subtotal{margin-top:4px;}
    .confirmation_order_summary_totals_final{border-top:1px solid #b8b8b8;margin-top:5px;padding-top:2px;padding-bottom:0;}
    .confirmation_order_summary_total_description{font-size:12px;width:255px;}
    .confirmation_order_summary_total_number{font-size:16px;width:70px;}
    .confirmation_order_summary_totals_final .confirmation_order_summary_total_description{font-size:18px;}
    .confirmation_order_summary_totals_final .confirmation_order_summary_total_number{font-size:20px;}

    .confirmation_order_buttons{clear:both;float:none;padding-top:30px;text-align:center;}

}


/* LANDSCAPE CSS -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 480px) and (max-width: 767px) {
    .mobile_only{display:inline;}
    .desktop_only{display:none;}
    .tablet_only{display:none;}
    .mobile_align_vertical{display:table-cell;height:42px;vertical-align:middle;}
    .mobile_pagebreak{display:inline;}

    #container{padding:0 15px 36px 15px;position:relative;width:450px;}

    #header{height:42px;}
    .header_logo{float:left;margin:0 7px;}
    .header_logo img{height:42px;}
    .header_headline{font-size:18px;height:27px;margin-top:7px;padding-top:2px;padding-left:6px;top:0;}
    .header_headline_thankyou{font-size:14px;height:23px;padding-top:6px;}
    .header_security_img{display:none;}
    .header_order_placed{margin-top:11px;}
    .header_order_placed_container{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;margin-top:0;margin-left:7px;}
    .header_order_placed_container_headline{font-size:12px;letter-spacing:0;padding:1px 7px 2px 10px;text-shadow:1px 1px .5px #000;word-spacing:0;}
    .header_order_placed_container_text{display:none;}
    .header_btn{float:right;margin-top:8px;margin-right:0;}
    .btn_breadcrumbs{display:none;}
    .container_product_options a.btn_breadcrumbs{font-size:16px;padding:2px 14px 3px 14px;}

    .breadcrumbs{height:27px;}
    .order_progress li{padding-left:6px;padding-right:6px;}
    .order_progress li:last-of-type{border-right:0 solid transparent;}
    li.breadcrumbs_headline{display:none;}
    .progress_text{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:14px;font-weight:300;padding-top:3px;}
    .error_message{font-size:18px;}
    .error_message_text{font-size:14px;padding-bottom:13px;}

    #main{margin-top:0;}
    .order_form_main{display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-direction:reverse;display:-moz-box;-moz-box-orient:vertical;-moz-box-direction:reverse;display:box;box-orient:vertical;box-direction:reverse;}
    .main_container_sidebar{float:left;margin:0;padding:0;position:relative;width:100%;}

    #sidebar{margin-top:10px;margin-left:0;width:100%;}
    .sidebar_header_headline{margin-left:11px;}

    #form_container{margin-top:10px;}

    #footer{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;height:auto;margin-top:10px;margin-bottom:15px;}
    .footer_links_list{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin-top:9px;text-align:center;padding:0 15px 4px 15px;width:100%;}
    .footer_link{display:inline;float:none;height:auto;margin:2px 15px 10px 0;position:relative;width:auto;}
    .footer_link:last-of-type{margin-right:0;}
    .footer_link_icon{float:none;height:31px;}
    #footer_privacy{background-position:-5px -175px;}
    #footer_security{background-position:-34px -175px;}
    #footer_purchasing{background-position:-75px -175px;}
    #footer_return{background-position:-109px -175px;}
    #footer_contact{background-position:-148px -175px;}
    .footer_text_link{clear:none;float:none;height:auto;margin-left:-2px;position:relative;top:-12px;padding:0;}
    .footer_text_link:hover{border-bottom:0 solid #FFF;}
    .telebrands_footer{clear:left;display:block;float:none;height:auto;margin:3px auto 11px auto;position:absolute;right:84px;width:auto}
    .telebrands_footer_logo{display:inline-block;float:left;margin-top:7px;margin-right:3px;text-align:center;}
    .telebrands_footer_copyright{clear:none;color:#000;display:block;float:left;font-size:14px;height:auto;margin-top:15px;margin-right:0;padding-top:0;text-align:center;}

    .section_header_headline{margin-left:7px;}
    .form_section_content{margin:10px 15px;width:416px;}
    #contact_info{padding-bottom:17px;}
    #billing_info{padding-bottom:17px;}
    #payment_info{padding-bottom:6px;}
    .form_section_content_heading{margin-left:11px;margin-top:11px;}
    .input_row{margin-top:7px;padding:0 0 0 18px;}
    .form_section_content .input_row:first-of-type{margin-top:14px;}
    .form_section_content_input{margin-right:0;}
    .input_label{font-size:14px;}
    .label_check{font-size:10px;}
    .label_required{font-size:10px;vertical-align:3px;}
    .label_description{font-size:10px;vertical-align:2px;}
    input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"]{height:30px;margin-top:2px;width:300px;}
    input:focus, input:focus:hover{height:20px;}
    input:invalid, input:-moz-ui-invalid, textarea:invalid{height:22px;}
    input.LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active, .fieldWithErrors input.LV_valid_field, .fieldWithErrors textarea.LV_valid_field{height:22px;}
    input.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active, .fieldWithErrors input.LV_invalid_field, .fieldWithErrors textarea.LV_invalid_field{height:22px;}
    input[placeholder]{padding-left:2px;}
    select{height:27px;margin-top:3px;padding-top:4px;}

    #shippingAddressDifferentThanBilling{margin-bottom:4px;}
    #shipping_info{margin-top:8px;}
    input.input_zip{margin-left:15px;width:175px;}
    .label_zip{margin-left:15px;}
    .image_cc{margin-top:22px;margin-left:14px;width:147px;}
    select.select_month{width:130px;}
    select.select_year{width:70px;}
    input.input_ccv{float:left;margin-top:3px;margin-right:15px;position:relative;width:45px;}

    .form_nav_buttons{margin-top:15px;}
    .form_nav_contact{margin-right:55px;}
    .form_nav_billing{margin-right:55px;}
    .form_nav_payment{margin-top:18px;margin-bottom:7px;margin-right:55px;}

    .prev_link{margin-top:4px;margin-right:4px;}
    .prev_link_cta{margin-top:8px;}
    .submit_order{}

    .terms_conditions{margin:9px 0 0 0;font-size:12px;}
    .terms_conditions_text{margin:0;padding:0 18px;text-align:center;width:378px;}
    .terms_conditions_text li{margin-right:4px;}
    .terms_conditions_text:last-of-type{margin-right:0;}
    .amex_agreement_label{font-size:12px;}
    #error_card_amex {margin-top:10px;margin-bottom:9px;}
    a#terms_link, a#terms_link:link, a#terms_link:visited, a#terms_link:active{font-size:12px;}

    .satisfaction_guarantee_container{margin-top:11px;padding-bottom:3px;}
    .satisfaction_guarantee_text{margin:0;padding:0;width:100%;}
    .satisfaction_guarantee_text li{clear:both}

    .additional_terms_text{font-size:10px;margin-top:26px;padding:0 13px;}
    #old_order_text{font-size:11px;margin-top:0;margin-left:2px;}

    .validation_message{padding-top:23px;min-width:0;}
    .validation_message_top{margin-left:0;padding-top:0;}

    .LV_validation_message{color:transparent;overflow:hidden;}
    .LV_valid{min-height:17px;letter-spacing:-7px;padding:0 0 0 20px;width:0;min-width:0;max-width:0;}
    .LV_invalid{min-height:17px;letter-spacing:-7px;top:2px;width:6px;min-width:6px;max-width:6px;}

    .validation_error{color:transparent;overflow:hidden;width:0;}
    .validation_valid{color:transparent;margin:0;width:6px;}
    .validation_valid_alt{color:transparent;margin:0;}

    #error_buyerState_content, #error_cardType_content, #error_cardExpirationMonth_content, #error_cardExpirationYear_content{display:none;}
    #error_buyerState, #error_shipToState{margin-left:5px;}
    #error_cardType{margin-left:5px;}
    #error_cardExpirationMonth{margin-left:5px;}
    #error_cardExpirationYear{margin-left:5px;}
    #creditCard_mismatch{color:#E51515;margin-top:12px;margin-left:0;margin-bottom:28px;overflow:visible;width:100%;}
    #buyerAddress_mismatch{color:#E51515;margin-top:0;margin-left:0;margin-bottom:16px;width:363px;}
    #shipToAddress_mismatch{color:#E51515;margin-top:0;margin-left:0;margin-bottom:16px;width:363px;}
    p.cvv_message span.LV_validation_message{display:inline-block;left:324px;width:auto;}
    p.cvv_message span.LV_valid, p.cvv_message span.LV_invalid{display:inline-block;margin-top:22px;}

    .terms_conditions_text .validation_error{color:#E51515;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:700;overflow:visible;padding:0 0 0 19px;}

    .sidebar_cart{margin:0;padding:0;padding-bottom:7px;}
    .sidebar_cart_content{padding:0 14px;}

    ul.sidebar_cart_product_row{margin-top:5px;padding-bottom:6px;}
    li.sidebar_cart_product_description_image{left:22px;top:-73px;}
    li.sidebar_cart_product_description{font-weight:700;width:329px;}
    li.sidebar_cart_product_times{width:20px;}
    li.sidebar_cart_product_price{width:52px;}

    ul.sidebar_cart_summary_row{display:inline;float:right;clear:none;margin:5px 4px 0 11px;width:auto;}
    ul.sidebar_cart_summary_row li{clear:none;display:inline;float:left;margin-left:3px;}
    li.sidebar_cart_label, li.sidebar_cart_price{width:auto;}

    ul.sidebar_cart_final_row{margin-top:5px;margin-bottom:2px;padding-top:7px;}
    li.sidebar_cart_final_label{font-size:18px;width:342px;}
    li.sidebar_cart_final_price{font-size:18px;width:73px;}

    .offer_details{margin-top:10px;padding-bottom:12px;}
    .details_header{height:25px;margin-bottom:1px;}
    .details_message{font-size:12px;padding:0 10px;}
    .details_image{float:none;height:127px;margin:0 0 8px 74px;width:280px;}
    .details_image{display:none;}
    .order_notes{clear:left;float:left;font-size:11px;margin-top:2px;}

    .ssl_badge{margin-left:62px;}

    #product_options_summary{margin-top:18px;width:450px}
    .product_options_summary_description{font-size:14px;}
    .product_options_summary_price{margin-right:16px;}
    ul.product_options_summary_final_row{margin-top:5px;margin-bottom:0;padding-top:9px;}
    ul.product_options_summary_final_row li{font-size:16px;}
    .product_options_summary_final_label{margin-right:14px;}

    .full_order_summary{margin-top:10px;}

    ul.full_order_summary_headings li{float:left;margin-left:0;padding-top:2px;}
    ul.full_order_summary_headings li.full_order_summary_product{margin-left:0;text-align:right;width:66px;}
    ul.full_order_summary_headings li.full_order_summary_description{margin-left:6px;text-align:left;width:88px;}
    ul.full_order_summary_headings li.full_order_summary_price{display:none;}
    ul.full_order_summary_headings li.full_order_summary_times{display:none;}
    ul.full_order_summary_headings li.full_order_summary_quantity{display:none;}
    ul.full_order_summary_headings li.full_order_summary_equals{display:none;}
    ul.full_order_summary_headings li.full_order_summary_total{display:none;}
    ul.full_order_summary_headings li.full_order_summary_remove{display:none;}

    .full_order_summary_details{border-bottom:1px solid #CCC;font-size:14px;height:70px;padding:8px 0;width:100%;}
    .full_order_summary_details li{margin-left:12px;}

    ul.full_order_summary_details li.summary_details_product{height:70px;}
    ul.full_order_summary_details li.summary_details_description{display:inline-block;height:42px;padding-top:3px;width:342px;}
    ul.full_order_summary_details li.summary_details_price{margin-left:159px;padding-top:4px;text-align:right;width:58px;}
    ul.full_order_summary_details li.summary_details_times{margin-left:10px;padding-top:4px;text-align:right;width:10px;}
    ul.full_order_summary_details li.summary_details_quantity{margin-left:4px;padding-top:4px;text-align:right;width:20px;}
    ul.full_order_summary_details li.summary_details_equals{margin-left:8px;padding-top:4px;text-align:right;width:10px;}
    ul.full_order_summary_details li.summary_details_total{font-size:18px;margin-left:10px;padding-top:1px;padding-right:0;text-align:right;width:66px;}
    ul.full_order_summary_details li.summary_details_remove{font-size:11px;padding-top:14px;}
    ul.full_order_summary_details li.remove_link{color:#FFF;font-size:12px;text-decoration:none;width:81px;}

    .full_summary_totals_right{width:100%;}

    .update_quantity{border-bottom:1px solid #CCC;float:right;padding:0;width:100%;}
    .update_link{display:block;float:right;font-size:15px;margin:14px 215px 15px 0;}
    input.ala_carte{margin:0;padding:0;text-align:right;width:auto;}
    span.non_ala_carte{padding-top:4px;}

    .full_summary_totals{margin-top:4px;}
    .full_summary_totals_line_item{margin-top:4px;margin-right:13px;}
    .full_summary_totals_heading{width:215px;}
    .full_summary_totals_dollar_value{padding-right:0;width:71px;}
    .full_summary_totals_right li.full_order_summary_remove{float:left;margin-left:25px;max-width:103px;min-width:103px;width:103px;}
    .shipping_surcharge_heading{padding-top:5px;}

    .full_summary_totals_divider{margin-top:8px;}

    .full_summary_totals_final{margin-right:13px;padding-top:8px;}
    .full_summary_totals_final_heading{width:170px;}
    .thankyou_summary_totals_final_heading{margin-right:25px;}
    .full_summary_totals_final_dollar_value{padding-right:0;width:71px;}

    .call_to_action{float:right;margin-top:20px;margin-bottom:15px;width:100%;}
    .note_to_amex{clear:right;display:none;float:right;font-size:12px;margin-top:25px;width:340px;}
    .confirm_security_img, .thankyou_security_img{clear:right;float:right;margin-top:16px;margin-right:58px;}

    .payment_information{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin-top:10px;padding-bottom:0;width:100%;}
    .payment_info_header{height:41px;margin-bottom:1px;}
    .payment_info_header_headline{margin-left:12px;}
    .payment_info_header_heading{padding-left:2px;top:7px;}
    a.edit_information{float:right;margin-top:9px;margin-right:8px;padding-top:1px;}

    .payment_info_cc{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin:0 12px;padding:10px 0 12px 0;width:426px;}
    .payment_info_address{margin:12px 0;padding:0 12px 1px 12px;width:213px;}
    .payment_info_billing{}

    .payment_info_heading{font-size:18px;margin-bottom:5px;}
    .payment_info_cc .payment_info_heading{margin-bottom:2px;}
    .payment_info_cc_details_bold{margin-left:4px;}
    .payment_info_cc_details_divider{background-color:transparent;visibility:hidden;}
    .payment_info_details{font-size:14px;line-height:16px;word-break:break-all;}

    .thankyou_summary{margin-top:15px;margin-bottom:3px;}
    .thankyou_message li{width:450px;}
    .thankyou_heading{margin-top:-4px;}
    .thankyou_details{font-size:13px;margin-top:6px;}
    span.outofstock_product_message{font-size:14px;padding:11px 15px 12px 15px;}

    .thankyou_liveops_message, .thankyou_liveops_iframe, .thankyou_liveops_message_bottom, .thankyou_liveops_message_bottom iframe{display:none;}

    .print_confirmation{float:left;margin-right:21px;}
    .thankyou_cta{margin-top:18px;}

    .tracking_information{margin-top:10px;padding-bottom:3px;}

    .tracking_content{margin-top:9px;padding:0 12px;}
    li.tracking_heading{font-size:16px;font-weight:600;margin-top:4px;margin-bottom:6px;text-align:center;}
    li.tracking_details{font-size:13px;}

    .banner_container{display:none;}

    .backbtn_warning{margin-top:10px;padding:12px;}
    .backbtn_warning p{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:18px;font-weight:300;}

    #policy_popup, #confirmation_popup{height:90%;max-height:90%;position:relative;width:90%;max-width:90%;}

    .policy_content_container{bottom:9px;height:auto;padding:7px 12px 0 12px;position:absolute;top:44px;width:100%;}
    p.popup_lead_heading{margin-bottom:13px;margin-top:18px;}
    p.popup_content_text{margin-left:6px;margin-top:0;margin-bottom:9px;}

    hr.popup_divider{margin-top:8px;margin-bottom:7px;}



    #confirmation_popup{height:310px;max-height:310px;padding-bottom:20px;width:466px;max-width:466px;}
    .confirmation_content_container{height:254px;padding:6px 20px 18px 20px;}
    #confirmation_popup .popup_heading{font-size:24px;letter-spacing:0;padding-top:6px;}
    #confirmation_popup .popup_heading_icon{margin-top:0;margin-left:9px;margin-right:2px;}

    .confirmation_payment_summary{float:left;margin-top:14px;padding-bottom:13px;width:407px;}
    .confirmation_payment_info_header{height:25px;margin-bottom:1px;}
    .confirmation_payment_info_header_headline{margin-left:15px;}
    .confirmation_payment_info_header_heading{font-size:14px;letter-spacing:.5px;padding-left:5px;top:3px;}

    .confirmation_payment_info_cc, .confirmation_payment_info_address{margin-left:15px;width:375px;}
    .confirmation_payment_info_cc{border-bottom:1px solid #8f8f8f;margin-top:10px;padding-bottom:13px;}
    .confirmation_payment_info_address{margin-top:11px;}

    .confirmation_payment_info_heading{clear:left;color:#36445b;float:left;font-size:16px;margin-bottom:4px;letter-spacing:.5px;}
    .confirmation_payment_info_details{clear:left;float:left;font-size:14px;line-height:18px;}

    .confirmation_order_summary{float:left;margin-top:35px;margin-left:0;width:407px;}
    .popup_confirmation_product_heading_list, .popup_confirmation_product_item{border-bottom:1px solid #b8b8b8;}
    .popup_confirmation_product_heading{font-size:14px;padding-bottom:7px;}
    .popup_confirmation_product_heading_description{margin-left:50px;}
    .popup_confirmation_product_heading_price{margin-left:101px;}
    .popup_confirmation_product_heading_quantity{margin-left:18px;}
    .popup_confirmation_product_heading_total{margin-left:18px;}

    .popup_confirmation_product_item{padding:2px 0;}
    .popup_confirmation_product_image{height:30px;width:30px;}
    .popup_confirmation_product_description{margin-left:10px;width:192px;}
    .popup_confirmation_product_price{font-size:14px;margin-left:8px;width:50px;}
    .popup_confirmation_product_times{font-size:12px;margin-left:11px;width:10px;}
    .popup_confirmation_product_quantity{font-size:14px;margin-left:8px;width:10px;}
    .popup_confirmation_product_equals{font-size:12px;margin-left:8px;width:10px;}
    .popup_confirmation_product_total{font-size:16px;width:60px;}

    .confirmation_order_summary_totals{clear:right;float:right;margin-top:2px;}
    .confirmation_order_summary_totals_subtotal{margin-top:4px;}
    .confirmation_order_summary_totals_final{border-top:1px solid #b8b8b8;margin-top:5px;padding-top:2px;padding-bottom:0;}
    .confirmation_order_summary_total_description{font-size:12px;width:255px;}
    .confirmation_order_summary_total_number{font-size:16px;width:70px;}
    .confirmation_order_summary_totals_final .confirmation_order_summary_total_description{font-size:18px;}
    .confirmation_order_summary_totals_final .confirmation_order_summary_total_number{font-size:20px;}

    .confirmation_order_buttons{clear:both;float:none;min-height:45px;height:auto;padding-top:30px;position:relative;text-align:center;width:407px;}
    .confirmation_thanks_btn{bottom:0;left:50%;margin:0px;margin-left:-110px;position:absolute;min-width:217px;}
    .confirmation_offers_btn{margin-bottom:55px;}



    .upsell_message_headline{font-size:14px;font-weight:700;line-height:19px;}

    #upsell_content_container{margin-top:12px;}
    .upsell_content{overflow:visible;width:440px;}
    .scrollable{width:440px;}

    #mobile_upsell_headline{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;color:#404040;clear:left;display:block;float:left;font-size:18px;font-weight:700;margin-top:8px;padding:0 12px;position:relative;text-align:center;width:100%;}

    .upsell_image{clear:left;margin:10px 82px 0 82px;}

    .upsell_info{clear:left;margin:10px 10px 0 10px;width:420px;}
    .upsell_headline{display:none;}
    .upsell_text{font-size:14px;letter-spacing:.5px;line-height:21px;padding-top:0;}
    .upsell_question{margin-top:16px;padding:0;font-weight:700;line-height:17px;}
    .upsell_question_options{line-height:22px;}
    .upsell_dropdown{margin-top:-4px;margin-bottom:2px;margin-left:6px;}
    .upsell_video_content_container_small{float:none;margin:5px auto 5px auto;width:320px;}
    .upsell_buttons{margin-top:25px;margin-bottom:4px;}
    .yes_upsell{margin-left:15px;margin-right:20px;}
    .no_upsell{margin-top:18px;}
    .decline_upsell_alt{color:#7b8287;font-size:14px;letter-spacing:.5px;padding:1px;}
    .decline_upsell_alt:hover{color:#bd322f;cursor:pointer;}

    .es_standard_logo{height:153px;margin-top:0;width:420px;}
    .es_standard_logo_alt{height:54px;margin-top:0;width:420px;}

    .es_offer_details_heading{font-size:14px;}
    .es_offer_details_text{font-size:12px;margin-top:6px;padding-top:6px;padding-bottom:7px;}

    .es_links_list li{font-size:13px;}
    .es_links_list li.es_link_divider{margin:0 3px;}

    .es_standard_bullets{display:none;}
    .es_tablet_bullets{display:none;height:206px;margin-top:13px;position:relative;width:420px;}

    a.btn_confirmation_popup .btn_main_text_thanks{font-size:18px;padding:0 12px 1px 12px;}
    a.btn_confirmation_popup .btn_secondary_text_thanks{font-size:12px;padding:0 7px 5px 7px;}

}

/* PORTRAIT CSS -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 479px) {
    .mobile_only{display:inline;}
    .desktop_only{display:none;}
    .tablet_only{display:none;}
    .portrait_hide{display:none;}
    .mobile_align_vertical{display:table-cell;height:50px;text-align:center;vertical-align:middle;width:100%;}

    #container{padding:0 10px 36px 10px;position:relative;width:300px;}

    #header{border-bottom:0 solid #fff;height:auto;margin-bottom:0;}
    .header_logo{float:none;height:42px;margin:0;padding:0;text-align:center;}
    .header_logo img{height:42px;}
    .header_headline{border-left:0 solid #fff;float:none;font-size:20px;height:auto;margin:0;margin-top:7px;padding:2px 0 3px 0;text-align:center;}
    .header_headline{display:none;}
    .header_security_img{display:none;}
    .header_order_placed{border-left:0;clear:left;margin-top:0;width:100%;}
    .header_order_placed_container{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;margin:0;text-align:center;width:100%;}
    .header_order_placed_container_headline{font-size:12px;letter-spacing:0;padding:1px 0 2px 0;text-align:center;text-shadow:1px 1px .5px #000;word-spacing:0;}
    .header_order_placed_container_text{display:none;}
    .header_btn{display:none;}

    .breadcrumbs{border:0 solid transparent;border-top:1px solid #ccc;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;height:24px;padding-top:8px;}
    .upsells_page .breadcrumbs{border-top:0 solid transparent;height:22px;padding-top:5px;}
    .breadcrumbs_bg{background:transparent;}
    .order_progress li{border-right:0 solid transparent;padding-left:2px;padding-right:2px;}
    .order_progress li:last-of-type{border-right:0 solid transparent;}
    li.breadcrumbs_headline{display:none;}
    li.progress_text{color:#ababab;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:10px;font-weight:300;letter-spacing:0;padding-top:0;word-spacing:0;}
    li.current_location{background-color:transparent;color:#497db9;font-weight:700;text-shadow:0 0 0 #fff;}
    .error_message{font-size:18px;}
    .error_message_text{font-size:14px;padding-bottom:13px;}

    #main{margin-top:0;}
    .order_form_main{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-direction:reverse;-moz-box-direction:reverse;box-direction:reverse;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
    .main_container_sidebar{float:left;margin:0;padding:0;position:relative;width:100%;}

    #sidebar{margin-top:10px;margin-left:0;width:100%;}
    .sidebar_header_headline{margin-left:11px;}

    #form_container{margin-top:10px;}

    #footer{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;height:auto;margin-top:10px;margin-bottom:15px;}
    .footer_links_list{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin-top:0;text-align:center;padding:0 10px 9px 10px;width:100%;}
    .footer_link{cursor:pointer;display:inline;float:none;height:auto;margin:0 12px 10px 0;position:relative;width:auto;}
    .footer_link:last-of-type{margin-right:0;}
    .footer_link_icon{display:none;height:auto;}
    .footer_text_link{clear:none;display:inline-block;float:none;font-size:10px;height:auto;margin-top:10px;;margin-left:0;position:relative;top:0;padding:0;}
    .footer_text_link:hover{border-bottom:0 solid #FFF;}
    .telebrands_footer{clear:left;display:block;float:none;height:auto;margin:3px auto 11px auto;position:absolute;right:8px;width:auto}
    .telebrands_footer_logo{display:inline-block;float:left;margin-top:7px;margin-right:3px;text-align:center;}
    .telebrands_footer_copyright{clear:none;color:#000;display:block;float:left;font-size:14px;height:auto;margin-top:15px;margin-right:0;padding-top:0;text-align:center;}

    .section_header_headline{margin-left:7px;}
    .section_header_heading{font-size:12px;letter-spacing:0;margin-top:3px;}
    .form_section_content{margin:10px 0;width:100%;}
    #contact_info{padding-bottom:17px;}
    #billing_info{padding-bottom:17px;}
    #payment_info{padding-bottom:6px;}
    .form_section_content_heading{margin-left:11px;margin-top:11px;}
    .form_section_content_required{font-size:9px;}
    .input_row{margin-top:7px;padding:0 12px;}
    .form_section_content .input_row:first-of-type{margin-top:14px;}
    .form_section_content_input{margin-right:0;position:relative;}
    .input_label{font-size:14px;}
    .label_check{display:inline-block;font-size:10px;top:-16px;padding-left:15px;width:auto;}
    input[type=checkbox]{width:auto;}
    .second_email_checkbox{clear:left;margin-top:0;}
    .label_required{font-size:10px;vertical-align:3px;}
    .label_description{font-size:10px;vertical-align:2px;}
    input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"]{height:30px;margin-top:2px;}
    input:focus, input:focus:hover{height:30px;}
    /*input:invalid, input:-moz-ui-invalid, textarea:invalid{height:30px;}*/
    /*input.LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active, .fieldWithErrors input.LV_valid_field, .fieldWithErrors textarea.LV_valid_field{height:22px;}*/
    /*input.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active, .fieldWithErrors input.LV_invalid_field, .fieldWithErrors textarea.LV_invalid_field{height:22px;}*/
    input[placeholder]{padding-left:2px;}
    select{height:27px;margin-top:3px;padding-top:4px;}

    #shipping_info{margin-top:8px;}
    select.select_state{width:99px;}
    input.input_zip{margin-left:15px;width:152px;}
    .label_zip{margin-left:15px;}
    .image_cc{background-position:-3px -84px;-moz-background-size:197px 242px;-o-background-size:197px 242px;-webkit-background-size:197px 242px;background-size:197px 242px;height:19px;margin-top:20px;margin-left:12px;width:117px;}
    select.select_month{vertical-align:top;*vertical-align:top;width:130px;}
    .expiration_divider{vertical-align:-6px;}
    select.select_year{vertical-align:top;*vertical-align:top;width:70px;}
    input.input_ccv,input.input_ccv:focus,input.input_ccv:hover{float:left;margin-top:3px;margin-right:12px;position:relative;width:45px;}
    .image_ccv{background-position:-4px -4px;-moz-background-size:217px 266px;-o-background-size:217px 266px;-webkit-background-size:217px 266px;background-size:217px 266px;display:inline-block;float:left;height:86px;margin-top:-18px;margin-left:0;margin-right:0;position:relative;width:209px;}

    .form_nav_buttons{margin-top:15px;}
    .form_nav_contact{margin-right:24px;}
    .form_nav_billing{margin-right:24px;}
    .form_nav_payment{margin-top:18px;margin-bottom:7px;margin-right:24px;}

    .prev_link{margin-top:4px;margin-right:4px;}
    .prev_link_cta{margin-top:4px;}
    .submit_order{}

    .terms_conditions{margin:5px 0 0 0;font-size:12px;}
    .terms_conditions_text{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0 11px;text-align:center;width:274px;}
    .terms_conditions_text li{margin-right:2px;}
    .terms_conditions_text:first-of-type{margin-right:4px;}
    .terms_conditions_text:last-of-type{margin-right:0;}
    .amex_agreement_label{font-size:11px;}
    #error_card_amex {margin-top:10px;margin-bottom:9px;}
    a#terms_link, a#terms_link:link, a#terms_link:visited, a#terms_link:active{font-size:12px;}

    .satisfaction_guarantee_container{margin-top:5px;padding-bottom:3px;}
    .satisfaction_guarantee_text{margin:0;padding:0;width:100%;}

    .satisfaction_guarantee_text li{clear:both;font-size:16px;}
    .satisfaction_message{padding-left:6px;}

    .additional_terms_text{font-size:10px;margin-top:26px;margin-bottom:-31px;padding:0 13px;}
    #old_order_text{font-size:11px;margin-top:-7px;margin-left:9px;margin-bottom:12px;}

    .validation_message{clear:none;display:block;float:none;height:auto;margin:0;padding-top:0;top:52px;}
    .validation_message_top{float:left;margin-left:0;padding-top:0;top:0;}

    .LV_validation_message{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;}
    .LV_valid{display:none;}
    .LV_invalid{display:block;height:auto;min-height:17px;margin-bottom:15px;overflow:visible;top:7px;width:auto;}

    .validation_error{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;height:17px;min-height:17px;margin-bottom:15px;width:auto;}
    .validation_valid{display:none;}
    .validation_valid_alt{background-image:url(https://800baeec9cb7a0ed9a77-bbc4f5b2642ab6a7d82704f6914d9dcc.ssl.cf2.rackcdn.com/spacer.gif);background-position:0 0;background-repeat:no-repeat;-moz-background-size:1px 1px;-o-background-size:1px 1px;-webkit-background-size:1px 1px;background-size:1px 1px;color:transparent;display:none;height:0;min-height:0;max-height:0;margin:0;padding:0;width:0;min-width:0;max-width:0;visibility:hidden;}

    .selectbox_error{margin-bottom:36px;}
    #buyerStateValidation, #shippingStateValidation, #cardTypeValidation, #expirationValidation{height:auto;max-height:17px;}
    #error_buyerState, #error_shipToState, #error_cardType, #error_cardExpirationMonth, #error_cardExpirationYear{position:absolute;top:0;}
    #error_cardExpirationYear{left:141px;}

    #error_buyerState_content, #error_cardType_content, #error_cardExpirationMonth_content, #error_cardExpirationYear_content{display:none;}
    #error_buyerState, #error_shipToState, #error_cardType, #error_cardExpirationMonth, #error_cardExpirationYear{margin-left:5px;}
    #creditCard_mismatch{color:#E51515;margin-top:12px;margin-left:0;margin-bottom:44px;width:274px;}
    #buyerAddress_mismatch{color:#E51515;margin-top:0;margin-left:0;margin-bottom:16px;width:274px;}
    #shipToAddress_mismatch{color:#E51515;margin-top:0;margin-left:0;margin-bottom:16px;width:274px;}
    p.cvv_message span.LV_validation_message{left:12px;top:62px;}
    p.cvv_message span.LV_valid{display:none;}
    p.cvv_message span.LV_invalid{display:block;height:auto;min-height:17px;margin-bottom:15px;overflow:visible;width:auto;}

    .terms_conditions_text .validation_error{color:#E51515;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:700;overflow:visible;padding:0 0 0 19px;}

    .sidebar_cart{margin:0;padding:0;padding-bottom:7px;}
    .sidebar_cart_content{padding:0 10px;}

    ul.sidebar_cart_product_row{margin-top:5px;padding-bottom:5px;}
    li.sidebar_cart_product_description_image{left:17px;top:-73px;}
    li.sidebar_cart_product_description{font-weight:700;width:278px;}
    li.sidebar_cart_product_quantity{clear:left;margin-top:2px;width:211px;}
    li.sidebar_cart_product_times{margin-top:2px;}
    li.sidebar_cart_product_price{margin-top:2px;}

    ul.sidebar_cart_summary_row{display:inline;float:right;clear:none;margin-top:5px;margin-left:5px;width:auto;}
    ul.sidebar_cart_summary_row li{clear:none;display:inline;float:left;margin-left:3px;}
    li.sidebar_cart_label{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;width:auto;}
    li.sidebar_cart_price{width:auto;}
    ul.sidebar_cart_final_row{margin-top:4px;margin-bottom:0;padding-top:8px;}
    li.sidebar_cart_final_label{font-size:20px;width:209px;}
    li.sidebar_cart_final_price{font-size:20px;width:69px;}

    .offer_details{margin-top:10px;padding-bottom:8px;}
    .details_header{height:25px;margin-bottom:1px;}
    .details_message{font-size:12px;margin-top:7px;padding:0 10px;}
    .details_image{float:none;height:127px;margin:0 0 8px -1px;width:280px;}
    .details_image{display:none;}
    .order_notes{clear:left;float:left;font-size:11px;margin-top:0;}

    .ssl_badge{-moz-background-size:300px 108px;-o-background-size:300px 108px;-webkit-background-size:300px 108px;background-size:300px 108px;height:108px;margin-top:5px;width:300px;}

    #product_options_summary{margin-top:25px;width:300px}
    .product_options_summary_description{font-size:14px;}
    .product_options_summary_price{margin-right:16px;}
    ul.product_options_summary_final_row{margin-top:5px;margin-bottom:0;padding-top:9px;}
    ul.product_options_summary_final_row li{font-size:16px;}
    .product_options_summary_final_label{margin-right:14px;}

    .full_order_summary{margin-top:10px;}

    ul.full_order_summary_headings li{float:left;margin-left:0;padding-top:2px;}
    ul.full_order_summary_headings li.full_order_summary_product{margin-left:0;text-align:right;width:66px;}
    ul.full_order_summary_headings li.full_order_summary_description{margin-left:4px;text-align:left;width:88px;}
    ul.full_order_summary_headings li.full_order_summary_price{display:none;}
    ul.full_order_summary_headings li.full_order_summary_times{display:none;}
    ul.full_order_summary_headings li.full_order_summary_quantity{display:none;}
    ul.full_order_summary_headings li.full_order_summary_equals{display:none;}
    ul.full_order_summary_headings li.full_order_summary_total{display:none;}
    ul.full_order_summary_headings li.full_order_summary_remove{display:none;}

    .full_order_summary_details{border-bottom:1px solid #CCC;font-size:13px;height:70px;padding:8px 0;width:100%;}
    .full_order_summary_details li{margin-left:10px;}

    ul.full_order_summary_details li.summary_details_product{height:70px;}
    ul.full_order_summary_details li.summary_details_description{display:inline-block;font-size:14px;height:50px;padding-top:0;width:200px;}
    ul.full_order_summary_details li.summary_details_price{margin-left:55px;padding-top:4px;text-align:right;width:48px;}
    ul.full_order_summary_details li.summary_details_times{margin-left:8px;padding-top:4px;text-align:right;width:8px;}
    ul.full_order_summary_details li.summary_details_quantity{margin-left:2px;padding-top:4px;text-align:right;width:16px;}
    ul.full_order_summary_details li.summary_details_equals{margin-left:6px;padding-top:4px;text-align:right;width:8px;}
    ul.full_order_summary_details li.summary_details_total{font-size:16px;margin-left:5px;padding-top:3px;padding-right:0;text-align:right;width:53px;}
    ul.full_order_summary_details li.summary_details_remove{font-size:11px;padding-top:14px;}
    ul.full_order_summary_details li.remove_link{color:#FFF;font-size:12px;text-decoration:none;width:81px;}

    .full_summary_totals_right{width:100%;}

    .update_quantity{border-bottom:1px solid #CCC;float:right;padding:0;width:100%;}
    .update_link{display:block;float:right;font-size:15px;margin:14px 215px 15px 0;}
    input.ala_carte{margin:0;padding:0;text-align:right;width:auto;}
    span.non_ala_carte{padding-top:4px;}

    .full_summary_totals{margin-top:5px;}
    .full_summary_totals_line_item{font-size:16px;margin-top:2px;margin-right:11px;}
    .full_summary_totals_heading{width:215px;}
    .full_summary_totals_dollar_value{margin-left:3px;padding-right:0;width:71px;}
    .full_summary_totals_right li.full_order_summary_remove{float:left;margin-left:25px;max-width:103px;min-width:103px;width:103px;}
    .shipping_surcharge_heading{padding-top:5px;}

    .full_summary_totals_divider{margin-top:6px;}

    .full_summary_totals_final{font-size:18px;margin-right:11px;padding-top:6px;}
    .full_summary_totals_final_heading{margin-right:8px;width:170px;}
    .thankyou_summary_totals_final_heading{margin-right:25px;}
    .full_summary_totals_final_dollar_value{padding-right:0;width:66px;}

    .call_to_action{float:right;margin-top:15px;width:100%;}
    .edit_amex_order_right{margin-top:12px;}
    .edit_amex_order_left{margin-top:12px;}
    .note_to_amex{clear:right;display:none;float:right;font-size:12px;margin-top:25px;width:340px;}
    .confirm_security_img, .thankyou_security_img{clear:right;float:right;margin-top:16px;margin-right:58px;}

    .payment_information{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin-top:21px;padding-bottom:4px;width:100%;}
    .payment_info_header{height:41px;margin-bottom:1px;}
    .payment_info_header_headline{margin-left:12px;}
    .payment_info_header_heading{font-size:20px;padding-left:2px;top:8px;}
    a.edit_information{float:right;margin-top:9px;margin-right:8px;padding-top:1px;}

    .payment_info_cc{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin:0 10px;padding:5px 0 7px 0;width:280px;}
    .payment_info_address{clear:left;margin:0 10px;padding:6px 0 7px 0;width:280px;}
    .payment_info_billing{border-bottom:1px solid #8f8f8f;border-right:0 solid transparent;}

    .payment_info_heading{font-size:18px;margin-bottom:5px;}
    .payment_info_cc .payment_info_heading{margin-bottom:2px;}
    .payment_info_cc_details{font-size:13px;margin-left:4px;}
    .payment_info_cc_details_bold{clear:both;font-size:14px;}
    .payment_info_cc_details_divider{background-color:transparent;margin:0;visibility:hidden;}
    .payment_info_details{font-size:14px;line-height:16px;margin-left:4px;word-break:break-all;}

    .thankyou_summary{border-top:1px solid #CCC;margin-top:5px;margin-bottom:0;padding-top:12px;}
    .thankyou_message li{width:300px;}
    .thankyou_heading{font-size:20px;line-height:24px;margin-top:-4px;}
    .thankyou_details{font-size:12px;margin-top:6px;}
    span.outofstock_product_message{font-size:11px;padding:6px 5px 7px 5px;}

    .thankyou_liveops_message, .thankyou_liveops_iframe, .thankyou_liveops_message_bottom, .thankyou_liveops_message_bottom iframe{display:none;}

    .print_confirmation{float:left;margin-right:21px;}
    .thankyou_cta{margin-top:18px;}

    .tracking_information{margin-top:12px;margin-bottom:-10px;padding-bottom:3px;}

    .tracking_content{margin-top:9px;padding:0 12px;}
    li.tracking_heading{font-size:16px;font-weight:600;margin-top:4px;margin-bottom:6px;text-align:center;}
    li.tracking_details{font-size:12px;}

    .banner_container{display:none;}

    .backbtn_warning{margin-top:10px;padding:8px;}
    .backbtn_warning p{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:16px;font-weight:300;}

    #policy_popup, #confirmation_popup{height:90%;max-height:90%;position:relative;width:90%;max-width:90%;}
    .popup_header_heading{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:28px;font-weight:700;letter-spacing:.5px;padding-top:3px;text-shadow:2px 2px 1px #000;}
    .popup_header_heading_es{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:24px;font-weight:700;padding-top:6px;text-shadow:2px 2px 1px #000;}
    .popup_header_heading_es .popup_header_icon{margin-top:1px;}
    .policy_content_container{bottom:9px;height:auto;padding:6px 10px 0 10px;position:absolute;top:44px;width:100%;}
    p.popup_lead_heading{margin-bottom:10px;margin-top:15px;}
    p.popup_content_heading{font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:16px;font-weight:700;}
    p.popup_content_text{font-size:12px;line-height:16px;margin-left:4px;margin-top:0;margin-bottom:7px;}

    hr.popup_divider{margin-top:5px;margin-bottom:5px;}



    #confirmation_popup{height:560px;max-height:560px;width:290px;max-width:290px;}
    #confirmation_popup .popup_policy_header{height:28px;}
    .confirmation_content_container{height:519px;padding:0 12px;}
    #confirmation_popup .popup_heading{font-size:16px;letter-spacing:0;padding-top:4px;padding-left:8px;}
    #confirmation_popup .popup_heading_icon{display:none;}

    .confirmation_payment_summary{float:left;margin-top:0;padding-bottom:0;width:262px;}
    .confirmation_payment_summary.confirmation_payment_bg{background:transparent;border:0 solid transparent;}
    .confirmation_payment_info_header{height:25px;margin-bottom:1px;}
    .confirmation_payment_info_header{display:none !important;}
    .confirmation_payment_info_header_headline{margin-left:8px;}
    .confirmation_payment_info_header_heading{font-size:13px;letter-spacing:0;padding-left:5px;top:4px;}

    .confirmation_payment_info_cc, .confirmation_payment_info_address{margin-left:0;width:262px;}
    .confirmation_payment_info_cc{border-bottom:0 solid transparent;margin-top:7px;padding-bottom:0;}
    .confirmation_payment_info_address{border-bottom:1px solid #8f8f8f;margin-top:8px;padding-bottom:8px;}

    .confirmation_payment_info_heading{clear:left;color:#36445b;float:left;font-size:16px;margin-bottom:4px;letter-spacing:.5px;}
    .confirmation_payment_info_details{clear:left;float:left;font-size:14px;line-height:18px;}
    .confirmation_payment_info_cc ul li:nth-child(2){font-size:12px;}
    #confirmation_payment_info_cc_name{font-size:14px;}
    #confirmation_payment_info_cc_name:after{display:inline-block;content:" "}
    .confirmation_payment_info_address ul li:nth-child(6){height:0;margin-bottom:6px;}

    .confirmation_order_summary{float:left;margin-top:8px;margin-left:0;width:262px;}
    .popup_confirmation_product_heading_list, .popup_confirmation_product_item{border-bottom:1px solid #b8b8b8;}
    .popup_confirmation_product_heading{font-size:12px;padding-bottom:7px;}
    .popup_confirmation_product_heading_product{display:none;}
    .popup_confirmation_product_heading_description{margin-left:13px;}
    .popup_confirmation_product_heading_price{display:none;}
    .popup_confirmation_product_heading_quantity{margin-left:77px;}
    .popup_confirmation_product_heading_total{margin-left:28px;}

    .popup_confirmation_product_product, .popup_confirmation_product_image{display:none;}
    .popup_confirmation_product_description{margin-left:0;width:145px;}
    .popup_confirmation_product_price{display:none;}
    .popup_confirmation_product_times{font-size:12px;margin-left:11px;width:10px;}
    .popup_confirmation_product_quantity{font-size:14px;margin-left:8px;width:10px;}
    .popup_confirmation_product_equals{font-size:12px;margin-left:8px;width:10px;}
    .popup_confirmation_product_total{font-size:16px;width:60px;}

    .confirmation_order_summary_totals{clear:right;float:right;margin-top:2px;}
    .confirmation_order_summary_totals_subtotal{margin-top:4px;}
    .confirmation_order_summary_totals_final{border-top:1px solid #b8b8b8;margin-top:5px;padding-top:2px;padding-bottom:0;}
    .confirmation_order_summary_total_description{font-size:12px;width:188px;}
    .confirmation_order_summary_total_number{font-size:16px;width:70px;}
    .confirmation_order_summary_totals_final .confirmation_order_summary_total_description{font-size:18px;}
    .confirmation_order_summary_totals_final .confirmation_order_summary_total_number{font-size:20px;}

    .confirmation_order_buttons{clear:both;float:none;min-height:45px;height:auto;padding-top:19px;position:relative;text-align:center;width:247px;}
    .confirmation_thanks_btn{bottom:0;left:50%;margin:0px;margin-left:-109px;position:absolute;min-width:217px;}
    .confirmation_offers_btn{margin-bottom:55px;}
    .popup_btn_text_container{margin:-3px 0 -3px 0;}
    .asotv_btn_logo, .magazine_btn_logo{background-size:39px 31px;height:31px;margin:3px 0 0 2px;width:39px;}

    .btn_secondary_text_browse{margin-top:1px;}
    .btn_secondary_text_card, .btn_secondary_text_magazine{margin-top:-2px;}



    .upsell_message_headline{border-top:1px solid #ccc;font-size:12px;font-weight:700;line-height:14px;padding-top:9px;}

    #upsell_content_container{left:0;margin-top:7px;right:0;}
    .upsell_content{overflow:visible;width:300px;}
    .scrollable{width:300px;}

    #mobile_upsell_headline{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;color:#404040;clear:left;display:block;float:left;font-family:'Open Sans Condensed', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:18px;font-weight:700;line-height:20px;margin-top:7px;padding:0 10px;position:relative;text-align:center;width:100%;}

    .upsell_image{clear:left;height:323px;margin:8px 33px 8px 32px;position:relative;width:233px;}
    .upsell_image img{height:323px;width:233px;}

    .upsell_info{clear:left;margin:0 10px;overflow:visible;width:280px;}

    .upsell_headline{display:none;}
    .upsell_text{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;font-size:14px;letter-spacing:.5px;line-height:18px;padding:0 5px;}
    .upsell_question{margin-top:16px;padding:0;font-weight:700;line-height:17px;}
    .upsell_question_options{line-height:17px;}
    .upsell_dropdown{clear:both;float:right;margin-top:1px;margin-bottom:2px;margin-right:23px;}
    .upsell_video_content_container_small{float:none;margin:5px auto 5px auto;width:270px;}
    .upsell_video_content_container_large{margin:5px auto;width:270px;}

    .upsell_buttons{clear:both;margin-top:20px;}
    .yes_upsell{margin-left:10px;margin-right:0;}
    .no_upsell{float:right;margin-top:18px;margin-right:10px;}
    .decline_upsell_alt{color:#7b8287;font-size:14px;letter-spacing:.5px;padding:1px;}
    .decline_upsell_alt:hover{color:#bd322f;cursor:pointer;}

    .upsells_security_img{left:-5px;}

    .es_standard_logo{display:none;}
    .es_mobile_logo{display:block;height:53px;margin-top:0;width:280px;}

    .es_offer_details_heading{font-size:14px;}
    .es_offer_details_text{font-size:12px;line-height:16px;margin-top:6px;padding-top:6px;padding-bottom:7px;}

    .es_links_list li{font-size:13px;}
    .es_links_list li.es_link_divider{margin:0 3px;}

    .es_standard_bullets{display:none;}
    .es_mobile_bullets{display:block;height:227px;margin-top:15px;position:relative;width:280px;}

    /* PORTRAIT BUTTONS CSS ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
    a.btn_prev, a.btn_edit_order{font-size:14px;padding:2px 18px 3px 18px;}
    a.btn_next{font-size:22px;padding:2px 18px 3px 18px;}
    a.btn_cta{font-family:Kameron, 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:22px;padding:5px 10px 4px 10px;}

    a.btn_confirmation_popup .btn_main_text{font-size:18px;padding:1px 14px 0 14px;;margin-top:-1px;}
    a.btn_confirmation_popup .btn_main_text_thanks{font-size:18px;padding:0 12px 1px 12px;}
    a.btn_confirmation_popup .btn_secondary_text{font-size:15px;line-height:15px;padding:0 17px;}
    a.btn_confirmation_popup .btn_secondary_text_alt{font-size:15px;padding:0 15px;}
    a.btn_confirmation_popup .btn_secondary_text_thanks{font-size:12px;padding:0 7px 5px 7px;}
    a.btn_confirmation_popup .btn_secondary_text_shipping{font-size:14px;padding:0 16px;}
    div.popup_btn_text_container .btn_secondary_text{font-size:15px;line-height:15px;padding:0;}

    a.btn_confirmation_popup .btn_secondary_text_browse{font-size:12px;}
    a.btn_confirmation_popup .btn_secondary_text_card{font-size:15px;letter-spacing:-.1px;}
    a.btn_confirmation_popup .btn_secondary_text_magazine{font-size:13px;letter-spacing:-.1px;margin-top:0;}

    a.btn_confirm_order{font-family:Kameron, 'Open Sans', Verdana, Arial, Helvetica, sans-serif;font-size:28px;padding:1px 18px 1px 18px;}
    a.btn_medium{padding:1px 14px 2px 13px;}
    a.btn_small{padding:0 8px 1px 8px;}
    a.btn_upsell_accept{font-size: 26px;padding:0 18px 1px 19px;}
    a.btn_breadcrumbs{font-size:18px;padding:2px 14px 3px 14px;}
    a.btn_print_confirmation{font-size:18px;padding:0 10px 1px 9px;}

}