@font-face {
    font-family: 'CooperBlackStd';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CooperBlackStd.otf') format("opentype");

}

@media (min-width: 651px) {
    .sm-black-text {
        font-size: 1.5em;
        color: black;
    }

    .md-black-text {
        font-size: 2em;
        color: black;
    }

    .big-black-text {
        font-size: 3.5em;
        color: black;
    }

    .big-green-text {
        font-size: 3.5em;
        color: green;
        text-shadow: 1px 5px 5px #000000;
    }

    .md-green-text {
        font-size: 2em;
        color: green;

    }

    .sm-green-text {
        font-size: 1.5em;
        color: green;
        text-shadow: 1px 2px 2px #000000;
    }

    .big-red-text {
        font-size: 3.5em;
        color: red;
        text-shadow: 2px 4px 10px #000000;
    }

    .md-red-text {
        font-size: 2.5em;
        color: red;
        text-shadow: 2px 2px 5px #000000;
    }

    .big-blue-text {
        color: #45B4FF;
        font-size: 3em;
        text-shadow: 2px 2px 5px #000000;
    }

    .fancy-button {
        background-color: #f15a24;
        border: none;
        border-radius: 10px;
        color: #ffffff;
        padding: 0.3em;
        font-size: 3em;
    }

    .table-jt {
        font-size: 1.5em;
    }

    .orange h2, .orange h4 {
        color: #F7931E;
        text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
    }
}

@media (max-width: 650px), handheld {
    .sm-black-text {
        font-size: 1.1em;
        color: black;
    }

    .md-black-text {
        font-size: 1.5em;
        color: black;
    }

    .big-black-text {
        font-size: 2em;
        color: black;
    }

    .big-green-text {
        font-size: 2em;
        color: green;
        text-shadow: 1px 2px 2px #ccc;
    }

    .md-green-text {
        font-size: 1.5em;
        color: green;
    }

    .sm-green-text {
        font-size: 1.1em;
        color: green;
    }

    .big-red-text {
        font-size: 2.5em;
        color: red;
    }

    .md-red-text {
        font-size: 1.5em;
        color: red;
        text-shadow: 2px 2px 5px #000000;
    }

    .big-blue-text {
        color: #45B4FF;
        font-size: 2em;
        text-shadow: 2px 2px 5px #000000;
    }

    .fancy-button {
        background-color: #F7931E;
        border: none;
        border-radius: 10px;
        color: #ffffff;
        padding: 0.3em;
        font-size: 1.5em;
    }

    .table-jt {
        font-size: 1.2em;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    .orange h2 {
        color: #F7931E;
        text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
        font-size: 1.5em;
    }

    .orange h4 {
        color: #F7931E;
        text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
        font-size: 1em;
    }

}

/*.flag-wrapper {*/
/*background-image: url('../img/transflag.png');*/
/*background-repeat: no-repeat;*/
/*width: 100% !important;*/
/*}*/

/*.tech-wrapper {*/
/*background-image: url('../img/techgrid.png');*/
/*width: 100% !important;*/
/*background-repeat: repeat-x;*/
/*margin-top: 4em;*/
/*padding-bottom: 4em;*/

/*}*/

.center {
    text-align: center;
}

.antivirus-table-cell {
    background-color: red;
    color: #000000;
}

.kure-table-cell {
    background-color: green;
    color: #000000;
}

body {
    font-family: 'CooperBlackStd', sans-serif;
    background: transparent;
}

/*html {*/
    /*background: #ea5b15; !* Old browsers *!*/
    /*background: -moz-linear-gradient(bottom, #ea5b15 0%, #e85b16 32%, #f8cf25 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #ea5b15), color-stop(32%, #e85b16), color-stop(100%, #f8cf25)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(bottom, #ea5b15 0%, #e85b16 32%, #f8cf25 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(bottom, #ea5b15 0%, #e85b16 32%, #f8cf25 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(bottom, #ea5b15 0%, #e85b16 32%, #f8cf25 100%); !* IE10+ *!*/
    /*background: linear-gradient(to top, #ea5b15 0%, #e85b16 32%, #f8cf25 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8cf25', endColorstr='#ea5b15', GradientType=0); !* IE6-9 *!*/
    /*background-attachment: fixed;*/

/*}*/
body {
    background: url(/img/blubg.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    background: #f2f2f2
}

.fancy-well {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
    background: #feccb1; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #feccb1), color-stop(50%, #f17432), color-stop(51%, #ea5507), color-stop(100%, #fb955e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* IE10+ */
    background: linear-gradient(135deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feccb1', endColorstr='#fb955e', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    margin: 0px;
    padding: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
}

.fancy-border {
    border: 6px solid #F7931E;
    border-radius: 15px;
    background-color: #ffffff;
}

.top-1 {
    margin-top: 1em;
}

.top-2 {
    margin-top: 2em;
}

.big-green-text {
    font-size: 2em;
    color: green;
    text-shadow: 1px 2px 2px #ccc;
}

.bottom-nav{
    list-style-type: none;
}
.bottom-nav li{


}

html .dwnl-arrow {
    -webkit-animation: animateArrow0 500ms ease-in-out 3000ms 1 normal,animateArrow1 2500ms ease-in-out 3500ms 1 normal,animateArrow2 2000ms ease-in-out 6000ms infinite normal;
}

.dwnl-arrow {
    background: url(/img/arrow_down.png) top center no-repeat;
}

.dwnl-arrow, .dwnl-arrow-simple {
    width: 180px;
    height: 320px;
    position: fixed;
    left: 50px;
    bottom: 25px;
    display: none;
    z-index: 1000;
}

.dwnl-arrow-ie {
    width: 180px;
    height: 320px;
    position: fixed;
    left: 60%;
    bottom: 45px;
    display: none;
    z-index: 1000;
}

.dwnl-arrow-firefox {

    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);             /* W3C compliant browsers */

    /* IE8 and below */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');


    width: 180px;
    height: 320px;
    position: fixed;
    left: 85%;
    top: 5px;
    display: none;
    z-index: 1000;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'CooperBlackStd', sans-serif;
    background: transparent;
    color:#000;
}
.btn h1, .greenbox h1, .orangebox h1, .orangebox h2, .greenbox h4, .greenbox h3, .orangebox h4, .orangebox h3, .orangebox h5{
    color:#fff;text-shadow: 1px 2px 2px #000000;
}

 .btn{white-space: normal!important;}
.orangebox{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe9510+0,ba4b2a+100 */
    background: #fe9510; /* Old browsers */
    background: -moz-linear-gradient(top,  #fe9510 0%, #ba4b2a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fe9510 0%,#ba4b2a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fe9510 0%,#ba4b2a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9510', endColorstr='#ba4b2a',GradientType=0 ); /* IE6-9 */
    padding:10px;
    border:5px solid #000;
    border-radius:15px;
    font-size:3em;
    margin:10px;
    white-space: normal;
}
.greenbox, .btn-success{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50 */
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#61c419',GradientType=0 ); /* IE6-9 */
    padding:10px;
    border:5px solid #000;
    border-radius:15px;
    font-size:2em;
    margin:10px;
}
.blackbox{
    border:5px solid #000;
    border-radius:15px;
}
.greenbox h1, .orangebox h1{font-size:.8em;}

.blackish {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    /*background: #7d7e7d; !* Old browsers *!*/
    background: #284159; /* Old browsers */
    /*background: -moz-radial-gradient(center, ellipse cover,  #7d7e7d 0%, #0e0e0e 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); !* Opera 12+ *!*/
    /*background: -ms-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); !* IE10+ *!*/
    /*background: radial-gradient(ellipse at center,  #7d7e7d 0%,#0e0e0e 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
    padding:20px;
    margin:10px;
}
