.red {
    color: red;
    margin-top: 1em;
}

body {
    background: url('../img/sayagata-400px.png')
}

ol,li {
    margin: 0;
    padding: 0;
}

ol {
    counter-reset: foo;
    display: table;
}

li {
    list-style: none;
    counter-increment: foo;
    display: table-row;
    font-size: 1.2em;
}

li::before {
    content: counter(foo) ".";
    display: table-cell;
    text-align: right;
    padding-right: .3em;
}