.table th, .table td {
    border-top: none !important;
}
 body {
     /*background: url(/img/blubg.jpg) no-repeat bottom center fixed;*/
     /*-webkit-background-size: cover;*/
     /*-moz-background-size: cover;*/
     /*-o-background-size: cover;*/
     /*background-size: cover;*/
 }
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -110px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 110px; /* .push must be the same height as .footer */
    clear: both;
}
.myfooter {
    padding:25px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04519b+0,044687+60,033769+100 */
    background: #04519b; /* Old browsers */
    background: -moz-linear-gradient(top,  #04519b 0%, #044687 60%, #033769 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04519b), color-stop(60%,#044687), color-stop(100%,#033769)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #04519b 0%,#044687 60%,#033769 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #04519b 0%,#044687 60%,#033769 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #04519b 0%,#044687 60%,#033769 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #04519b 0%,#044687 60%,#033769 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04519b', endColorstr='#033769',GradientType=0 ); /* IE6-9 */
}
.myfooter h4{color:#fff;}
.panel-heading h3, .panel-heading h4{color:#fff;}